## Data Scientist Challenge

In this challenge you are assuming the position of a data scientist for a large corporation with offices in many states. The company you work for is looking to gain insights from its data from across the many states that it does business over the course of the year 2014. The company runs many 'sales' over the course of the year in its states. The data you have is of the 10,000 different sales run in different states. Each sale lasts for a particular amount of time denoted by 'sale_start' and 'sale_end' columns. Along with each sale is the revenue for that particular sale.

The company is primarily interested in determining what is happening to revenue over time and what strategy should be undertaken to maximize revenue.

You don't need any advanced statistics for this assignment. Good exploration and visualizations will reveal everything you need to know about what is happening. Check out pandas time-series module documentation here - http://pandas.pydata.org/pandas-docs/stable/timeseries.html

Please fork the repository into your github profile, clone it and then start working on it locally.

In [1]:
# starter code
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
sales = pd.read_csv('data/sales.csv', parse_dates=['sale_start', 'sale_end'])

In [3]:
sales.head()

      state sale_start   sale_end  sale_key  revenue
0  Arkansas 2014-12-24 2014-12-24         0   1311.0
1   Florida 2014-10-15 2014-10-17         1    698.0
2      Iowa 2014-09-07 2014-09-07         2   1193.0
3   Indiana 2014-05-19 2014-05-22         3    469.0
4     Maine 2014-04-19 2014-04-19         4    334.0