# 5. Regular Expressions Part 3

### Summary
* Functionality of special characters - ` \ ( )`
* Change operator precedence with parentheses
* Extract data from strings with capture groups

In [1]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv')
title = movie['title']

## More Complex Character Classes
Special characters lose their special meaning within the brackets. For instance, **`[.]`** matches the literal dot and **`[()*$]`** matches any string with the literal parentheses, asterisk, or dollar sign.

Let's match movies with an asterisk in them:

In [2]:
pattern = '[*]'
filt = title.str.contains(pattern)
title[filt]

3828                         What the #$*! Do We (K)now!?
3902                                              M*A*S*H
4162    Everything You Always Wanted to Know About Sex...
Name: title, dtype: object

Match movies with either an asterisk or dollar sign.

In [3]:
pattern = '[*$]'
filt = title.str.contains(pattern)
title[filt]

3466                                                 Ca$h
3828                         What the #$*! Do We (K)now!?
3902                                              M*A*S*H
4162    Everything You Always Wanted to Know About Sex...
Name: title, dtype: object

### Exclude characters with caret
It is possible to exclude character sets by putting a caret as the first character inside the brackets. For instance, **`Z[^aeiou]`** find match strings that begin have 'Z' followed by a non-vowel.

In [4]:
pattern = 'Z[^aeiou]'
filt = title.str.contains(pattern)
title[filt]

2975                      Doctor Zhivago
3469                             Z Storm
4511    ZMD: Zombies of Mass Destruction
4679                  Dogtown and Z-Boys
Name: title, dtype: object

Find all movies that have an uppercase 'T' followed by a non-lowercase letter.

In [5]:
pattern = 'T[^a-z]'
filt = title.str.contains(pattern)
title[filt]

40                              TRON: Legacy
585                                 S.W.A.T.
1411                                    TMNT
1540    The Young and Prodigious T.S. Spivet
2473                                     ATL
2573                   Scream: The TV Series
2994                                F.I.S.T.
3028              E.T. the Extra-Terrestrial
Name: title, dtype: object

## The backslash `\` metacharacter
The backslash metacharacter is used in conjunction with the very next character to change its meaning.

* `\d` - all digits, equivalent to `[0-9]`
* `\D` - any non-digit.
* `\s` - any amount of whitespace including normal spaces and tabs
* `\S` - any non-whitespace
* `\w` - any 'word' character, which is any upper or lowercase letter, digit or underscore. Equivalent to `[A-Za-z0-9_]`
* `\W` - any non-word character

For instance, **`^\W`** matches all strings that begin with a non-word character.

### Prefix the string with `r` to make it a raw string

The backslash is a special character in normal Python strings. **`\n`** represents a newline character, **`\t`** represents a tab. To be sure your regex is exactly what you see, its best to use **raw** Python strings. Prepend the string with an r outside of the quotation marks to make it a raw string. Python will treat the backslash as a literal backslash without any special meaning.

In [6]:
pattern = r'^\W+'
filt = title.str.contains(pattern)
title[filt]

3597    [Rec] 2
4152      [Rec]
4349    #Horror
Name: title, dtype: object

### Backslash escapes special characters
As we just saw, the special characters lose their special ability within the brackets. Preceding a special character by a backslash has the same effect. For instance **`\*`** represents a literal asterisk and is the same as **`[*]`**

In [7]:
pattern = r'\*'
filt = title.str.contains(pattern)
title[filt]

3828                         What the #$*! Do We (K)now!?
3902                                              M*A*S*H
4162    Everything You Always Wanted to Know About Sex...
Name: title, dtype: object

## The parentheses metacharacters `( )`
The parentheses metacharacters are used to **group** together parts of the regular expression. For instance, let's say we want to find all movies that begin with the word 'In' or 'My'. You might think about using **`'^In|My'`**:

In [8]:
pattern = '^In|My'
filt = title.str.contains(pattern)
title[filt].head()

54    Indiana Jones and the Kingdom of the Crystal S...
78                                           Inside Out
92                         Independence Day: Resurgence
96                                         Interstellar
97                                            Inception
Name: title, dtype: object

### The meaning of `^In|My`
There are a couple things wrong with this regex. First, we are getting movies that begin with words that begin with 'In' such as 'Indiana' or 'Inside' instead of the just the word 'In'.

Second, the movie, 'Journey 2: The Mysterious Island' has 'My' within the name and not at the beginning. This mistake is happening because of **operator precedence** within the regex. 

`^In|My` matches movies that begin with the letters 'In' or have 'My' anywhere inside it. The caret is only anchoring 'In'.

## Using parentheses to group
We can use parentheses to change the operator precedence just how we do in mathematical expressions. Let's modify our expression to `'^(In|My)'`

In [9]:
pattern = '^(In|My)'
filt = title.str.contains(pattern)
title[filt].head(15)

/Users/yuejin/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

54     Indiana Jones and the Kingdom of the Crystal S...
78                                            Inside Out
92                          Independence Day: Resurgence
96                                          Interstellar
97                                             Inception
253                                            Insurgent
316                              In the Heart of the Sea
516                                     Independence Day
527                                     Inspector Gadget
582                                 Inglourious Basterds
630                                          Mystery Men
764                                             Invictus
767                                  My Favorite Martian
771                                  Intolerable Cruelty
796                                             Inkheart
Name: title, dtype: object

### Getting closer
We grouped `In|My` together so the movie must begin with them. We are still lacking a space after them. We can do this with three slightly different regexes
* `'^(In|My)\s'`
* `'^(In|My) '`
* `'^(In |My )'`

The `\s` matches any number of whitespaces.

In [10]:
pattern = r'^(In|My)\s'
filt = title.str.contains(pattern)
title[filt].head(15)

/Users/yuejin/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

316                           In the Heart of the Sea
767                               My Favorite Martian
799     In the Name of the King: A Dungeon Siege Tale
1055                         My Best Friend's Wedding
1405                                         In & Out
1428                                          In Time
1660                           My Super Ex-Girlfriend
1685                                        In Dreams
1781                               My Sister's Keeper
1832                                  In Good Company
1945                                  My Soul to Take
2049                            In the Valley of Elah
2104                              My Fellow Americans
2216                            My Best Friend's Girl
2375                       My Big Fat Greek Wedding 2
Name: title, dtype: object

### Why are we getting `UserWarning: This pattern has match groups`?
Besides operator precedence, grouping has an alternative function and that is to extract specific text from a string. In regex terminology, we call this a **capturing group**. This warning is alerting us that we have used a capture group and if we wanted to extract this group then we should be using the **`extract`** string method.

### Specifying a non-capturing group
Our regular expression is valid the way it is. We can signal inside of our regular expression that this is a **non-capturing group** by placing a **`?:`** as the first two characters inside of the parentheses. This will eliminate the warning.

In [11]:
pattern = r'^(?:In|My)\s'
filt = title.str.contains(pattern)
title[filt].head()

316                           In the Heart of the Sea
767                               My Favorite Martian
799     In the Name of the King: A Dungeon Siege Tale
1055                         My Best Friend's Wedding
1405                                         In & Out
Name: title, dtype: object

## Using capture groups with the `extract` string method
We can use the exact same pattern with the **`extract`** string method to extract the group.

In [12]:
pattern = r'^(In|My)\s'
title.str.extract(pattern).head()

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

### Why are all the values missing?
Only a small fraction of the movie titles begin with 'In' or 'My'. Let's drop the missing values and see the extracted text:

In [13]:
pattern = '^(In|My)\s'
title.str.extract(pattern).dropna().head()

       0
316   In
767   My
799   In
1055  My
1405  In

### Extracting the fourth word of movie titles that begin with 'In' or 'My'
Let's try something a bit more complex and extract the fourth word of all movies that begin with the words 'In' or 'My'. For instance, the movie, 'In the Heart of the Sea' meets our criteria. The word 'of' would be extracted from it.

To accomplish this, we need to match movies that begin with 'In' or 'My' and then match two words, before capturing the fourth word.

We already saw that `^(?:In|My)` completes the first part of this task. We can then add on `(?:\s\S+){2}` which is a non-capturing group that matches a space followed by one or more non-space characters. We use `{2}` to match two of these in a row. We then need to match one more space and then capture the next word. We do this with `\s(\S+)`.

Remember, only the matched text in the parentheses is extracted. The parentheses that begin with `?:` are also not extracted.

In [14]:
pattern = r'^(?:In|My)(?:\s\S+){2}\s(\S+)'
title.str.extract(pattern).dropna().head()

            0
316        of
799        of
1055  Wedding
1945     Take
2049       of

### `extract` must have capture groups
The regex used with the **`extract`** string method must have capture groups. If not, an error will be raised.


### Multiple capture groups for `extract`
You can capture more than one group with **`extract`**. Take a look at the following regex which captures the first word after a movie that begins with 'The' and the first word after 'of'.

In [15]:
pattern = r'^The (\S+) .*of (\S+)'
title.str.extract(pattern).dropna().head()

             0        1
16  Chronicles  Narnia:
20     Hobbit:      the
23     Hobbit:    Smaug
63      Legend   Tarzan
64  Chronicles  Narnia:

## Many other string methods take regexes
You can use regular expressions in several other Series string methods such as **`count`**, **`replace`** and **`split`**. For instance, the following counts the times consecutive lowercase vowels appear for each string. We then find the maximum number of times this happens within the movie titles.

In [16]:
pattern = r'[aeiou]{2}'
title.str.count(pattern).max()

4

# Other Flavors of Regex
Regular expressions are not quite standardized for every single programming language, so you will need to ensure you are implementing the right 'flavor' for each language.

# More to Regex
There is a lot more to regular expressions that was no covered in this notebook. 

* [Official Python Documentation][1]
* [Thorough Online Tutorial][2]
* [Practice with explanations][3] - make sure to choose Python

[1]: https://docs.python.org/3/howto/regex.html
[2]: https://www.regular-expressions.info/
[3]: https://regex101.com/

# Regex Summary
* Literal characters represent themselves
* Special or metacharacters represent something entirely different
* Primarily usage of regex is to either match a particular string or extract a substring
* Many Pandas string methods accept regular expressions but you will primarily be using **`contains`** and **`extract`**
* Use raw Python strings when writing regex. Raw strings have 'r' prepended to them.

### Metacharacter Summary
`. ^ $ * + ? { } [ ] \ | ( )`
* `.` - Matches any character
* `^` - Anchors next characters to beginning
* `$` - Anchors previous characters to end
* `*` - Matches 0 or more occurrences of previous character
* `+` - Matches 1 or more occurrences of previous character
* `?` - Matches 0 or 1 occurrences of previous character
* `{m}`, `{m,}`, `{m,n}` Matches m, m or more, between m and n repeats of previous character
* `[]` - A character set to match one out of many characters. `[aeiou]` matches a single vowel
* `[a-z]`, `[A-Z]`, `[0-9]` - Character sets for lowercase, uppercase, and digits
* `[^abc]` - Use caret at beginning of bracket to match anything but these characters
* `\` - backslash changes meaning of next character
* `\s` - whitespace
* `\S` - non-whitespace
* `\w` - lower/uppercase, digits, and underscore
* `\W` - everything but `\w`
* `\d` - digits
* `\D` - non-digits
* `\.` - Escapes all special characters such as literal dot here. 
* `|` - Or clause. Matches when either left or right set of characters match. `cat|dog` matches either 'cat' or 'dog'
* `()` - Groups together parts of regex like mathematical parentheses to achieve different operator precedence
* `()` - Also represents capture groups for extracting text. Use `(?:)` to signal non-capturing group.

# Exercises

### Problem 1
<span  style="color:green; font-size:16px">For all movies that begin with 'The' and are followed by the next word that begins with a digit, extract just the digits part of this word.</span>

### Problem 2
<span  style="color:green; font-size:16px">Find all movies that have two separate numbers in them. An example would be, '7 days and 7 nights'.</span>

### Problem 3
<span  style="color:green; font-size:16px">Find all the movies that have 6 or more non-vowel and non-space characters in a row.</span>

### Problem 4
<span  style="color:green; font-size:16px">Extract the very next character after 't' or 'T' for each movie.</span>

### Problem 5
<span  style="color:green; font-size:16px">What is the most common character after 't' or 'T'?</span>

### Problem 6
<span style="color:green; font-size:16px">Extract all the words that begin with 'T' or 't' and end in 'e' then find their frequency. Research the word boundaray special character.</span>