# 7. Why Tidy Data

### Summary

+ Know why Tidy data works and where it works best

### Resources
+ Reading the Seaborn tutorial on [categorical data](http://seaborn.pydata.org/tutorial/categorical.html)

### Introduction
In this notebook we will see why tidy data is useful. Tidy data is supposed to make our lives easier by making aggregation, sorting, filtering, visualizing and applying machine learning easier.

To test this idea, we will perform many different data analyses on both the tidy and original datasets to see how they differ. We will use the tidied My Brother's Keeper data from the case study.

### Read in original data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_original = pd.read_csv('../data/tidy/my_brothers_keeper.csv')
df_original.head()

### Trick to removing all percentages with `replace` method
The **`replace`** method normally replaces a specific value with another. If you set the **`regex`** parameter to True, you can be very precise with what you replace. Here, we simply replace all the percentage signs with an empty string.

In [ ]:
df_original = df_original.replace('%', '', regex=True)
df_original.head()

### Check our data types

In [ ]:
df_original.dtypes

### Convert each column to numeric
Unfortunately, the **`pd.to_numeric`** function only works on Series and not on entire DataFrames. The **`astype`** method can convert all columns to numeric but only if all of them are capable of being converted. Here, the race column will cause it to fail.

### Apply `pd.to_numeric` to each column
The **`apply`** method can apply a function to each column (as a Series) independently. We simply pass the function name as the first argument to the **`apply`**. You can pass additional parameters to that function (**`pd.to_numeric`** in our case) by naming them as usual.

In [ ]:
df_original = df_original.apply(pd.to_numeric, errors='ignore')
df_original.dtypes

### `apply` is just a for loop
The **`apply`** is just a replacement for a **`for`** loop. It simply applies the passed function to each column. It does the exact same thing as the following for loop.

In [ ]:
for col in df_original.columns:
    df_original[col] = pd.to_numeric(df_original[col], errors='ignore')

# Back to our Comparison with Tidy Data
Let's read in our tidy dataset.

In [ ]:
df_tidy = pd.read_csv('../data/tidy/mbk_tidy.csv')
df_tidy.head()

## Comparison #1
For our first comparison between tidy and messy data we will filter for the race **`Black`**.

In [ ]:
# original
filt = df_original['Race'] == 'Black'
df_original[filt].head()

In [ ]:
# tidy
filt = df_tidy['Race'] == 'Black'
df_tidy[filt].head()

### Comments for comparison #1
Since the messy dataset had the race in a single column, the code is identical. The messy dataset might actually be preferable for readability.

## Comparison #2
Filter for black males.

In [ ]:
# original
male_columns = df_original.columns.str.contains('of male')
filt = df_original['Race'] == 'Black'

df_original.loc[filt, male_columns].head()

In [ ]:
# tidy
filt = (df_tidy['Race'] == 'Black') & (df_tidy['Gender'] == 'male')
df_tidy[filt].head()

### Comments for comparison #2
This filter is a huge win for tidy data. The filtering is much more straightforward and the entire dataset is returned instead of just two columns. The birth rate is also returned specifically for males.

## Comparison #3
Find the average percentage women for all races for each age group.

In [ ]:
# original
cols = ['Distribution of female children born to women ages 18-19',
       'Distribution of female children born to women ages 20-24']
df_original[cols].mean()

In [ ]:
# tidy
filt = df_tidy['Gender'] == 'female'
df_tidy[filt].groupby('Age Group').agg({'Gender Percent': 'mean'})

### Comments for comparison #3
Since the messy data has both female and male observations in the same line, no groupby is needed. They are both fairly straightforward.

## Comparison #4
Which gender has the highest average birth rate for each age group.

In [ ]:
# original
age_18_19_female = (df_original['Rate of birth to women ages 18-19'] / 100 * 
                 df_original['Distribution of female children born to women ages 18-19']).mean()

age_20_24_female = (df_original['Rate of birth to women ages 20-24'] / 100 * 
                     df_original['Distribution of female children born to women ages 20-24']).mean()

age_18_19_male = (df_original['Rate of birth to women ages 18-19'] / 100 * 
                 df_original['Distribution of male children born to women ages 18-19']).mean()

age_20_24_male = (df_original['Rate of birth to women ages 20-24'] / 100 * 
                     df_original['Distribution of male children born to women ages 20-24']).mean()

In [ ]:
age_18_19_female, age_20_24_female, age_18_19_male, age_20_24_male

In [ ]:
# tidy
df_tidy.groupby(['Gender', 'Age Group'])['Birth Rate'].mean()

### Comments for comparison #4
Tidy is a huge winner as the birth rate for each gender had been pre-calculated and the annoying long column names can be avoided.

Can also use a pivot table.

In [ ]:
df_tidy.pivot_table(index='Age Group', columns='Gender', values='Birth Rate')

## Comparison #5
Which year, age group, race combination has the highest rate of births?

Original:

In [ ]:
df_original.sort_values('Rate of birth to women ages 18-19', ascending=False).head(1)

In [ ]:
df_original.sort_values('Rate of birth to women ages 20-24', ascending=False).head(1)

Tidy:

In [ ]:
df_tidy.groupby(['Race', 'Year', 'Age Group'], as_index=False).agg({'Birth Rate':'sum'}) \
       .sort_values('Birth Rate', ascending=False).head()

### Comments for comparison #5
The original data aggregates by all births, and is not broken down by gender. We need to sort by both birth rate columns to determine which age group is the highest.

For tidy data, we need to group together race and year so that we can sum up the birth rates for both genders. We can then perform one sort to get our answer.

## Visualization Advantage
Huge advantages for tidy data come from plotting use the Seaborn library, which expects tidy data.

The examples below only show tidy. The first plot shows the percentage of each gender per year by age group.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
sns.catplot(x='Year', 
            y='Gender Percent', 
            hue='Gender', 
            col='Age Group',
            data=df_tidy, 
            kind='box', 
            height=6)

In [ ]:
sns.catplot(x='Year', 
            y='Birth Rate', 
            hue='Race', 
            row = 'Gender', 
            col='Age Group', 
            kind='point',
            data=df_tidy, 
            ci=0, 
            height=6)

# Separating data into multiple tables (data normalization)
Let's take a look at few rows from some visits to a doctor in the **`tidy/doctor_visits.csv`** file.

In [ ]:
dv = pd.read_csv('../data/tidy/doctor_visits.csv')
dv

### The information is easy to read
All the information presented in this table is easy to read. Any question that is asked about the visits can be quickly answered.

### Yet, something is wrong, what is it?
Although the table of data is sufficient to address our questions, it repeats much of the data and will not scale well as more patients come into the system. It will also be difficult to update historical data, such as if the patient's address changes or a clinic changes names.

### A short intro into data normalization
Modern databases attempt to reduce the amount of replication in the data by a process called **normalization**. It involves separating data into tables to minimize replication and increase data accuracy.

From [wikipedia](https://en.wikipedia.org/wiki/Database_normalization):
> Database Normalization, or simply normalization, is the process of organizing the columns (attributes) and tables (relations) of a relational database to reduce data redundancy and improve data integrity. Normalization is also the process of simplifying the design of a database so that it achieves the optimum structure. It reduces and eliminates redundant data. In normalization, data integrity is assured. It was first proposed by Dr. Edgar F. Codd, as an integral part of a relational model.

There is much, much more to data normalization. The following example is just a brief overview.

## Which values are always the same for each visit?
When looking through the table, you should notice that certain values will repeat for every single visit. For instance, the patient name, address, and birth date are going to be the same. There isn't a need to keep repeating all these values for every visit.

### Separating patient values into a distinct table
Let's select all the patient columns in a single DataFrame. The **`copy`** method is called to ensure that this is new DataFrame is a completely different DataFrame and not referring to the same data as the original.

In [ ]:
patient = dv[['patient_name', 'patient_address', 'patient_birthdate']]
patient

### Drop duplicate rows
There is no need to store duplicate values of each row. Let's keep only the unique rows.

In [ ]:
patient = patient.drop_duplicates()
patient

## Create a primary key to uniquely identify each row
When we normalize our data, and separate it into new tables, an additional column is added to the table to uniquely identify each row. The unique value that identifies each row is called a **primary key**. Let's add a primary key to the patient table. Note: If you get the **`SettingWithCopyWarning`**, ignore it.

In [ ]:
patient['patient_id'] = np.arange(len(patient))
patient

### Rearrange the columns so that `patient_id` is first
It's best to always put the primary key as the first column.

In [ ]:
cols = ['patient_id', 'patient_name', 'patient_address', 'patient_birthdate']
patient = patient[cols]
patient

## We just created a dimension
In database terminology, the patient table would be considered a **dimension**. Dimensions are things that exist in your data that are independent of any event taking place. They tend to be static and do not change often (such as your name or birth date.

## Create tables for all the other dimensions
There are several other dimensions in our original table. Let's create new dimension tables for each one of the following:
* clinic
* doctor
* procedure

We will select each of the columns unique to each dimension, drop the replicated rows and add a primary key as the first column to uniquely identify each row.

### Clinic Dimension

In [ ]:
cols = ['clinic_name', 'clinic_address']
clinic = dv[cols].drop_duplicates()
clinic

In [ ]:
clinic['clinic_id'] = np.arange(len(clinic))
clinic

In [ ]:
cols = ['clinic_id', 'clinic_name', 'clinic_address']
clinic = clinic[cols]
clinic.head()

### Doctor Dimension

In [ ]:
cols = ['doctor_name', 'doctor_specialty']
doctor = dv[cols].drop_duplicates()
doctor

In [ ]:
doctor['doctor_id'] = np.arange(len(doctor))
doctor

In [ ]:
cols = ['doctor_id', 'doctor_name', 'doctor_specialty']
doctor = doctor[cols]
doctor.head()

### Procedure Dimension
Here, the primary key is already given to us with the procedure code. We will keep it as is.

In [ ]:
cols = ['procedure_code', 'procedure_name']
procedure = dv[cols].drop_duplicates()
procedure

## Replacing original data with primary keys
We can now revisit our original DataFrame and replace all columns in each dimension with a single column, the primary key of that dimension.

## Join original table to dimension tables
To make the replacement, we will join our original table to each one of our dimension tables. The **`merge`** method joins tables together in Pandas. We can specify how the tables will join with the **`on`** parameter. We will join on all the non-primary key columns. Below, we join the **`patient`** table. The result is one extra column at the end of the DataFrame, the **`patient_id`**.

In [ ]:
dv_fact = dv.merge(patient, on=['patient_name', 'patient_address', 'patient_birthdate'])
dv_fact

### Drop the dimension columns
We can now drop all the original patient columns as the **`patient_id`** now refers to them.

In [ ]:
dv_fact = dv_fact.drop(columns=['patient_name', 'patient_address', 'patient_birthdate'])
dv_fact

## Replace all the other dimensions with primary key columns

### Doctor Dimension

In [ ]:
dv_fact = dv_fact.merge(doctor, on=['doctor_name', 'doctor_specialty'])
dv_fact = dv_fact.drop(columns=['doctor_name', 'doctor_specialty'])
dv_fact

In [ ]:
clinic

### Clinic Dimension

In [ ]:
dv_fact = dv_fact.merge(clinic, on=['clinic_name', 'clinic_address'])
dv_fact = dv_fact.drop(columns=['clinic_name', 'clinic_address'])
dv_fact

### Procedure Dimension
Since the primary key is already in the table, we can just drop the **`procedure_name`** column

In [ ]:
dv_fact = dv_fact.drop(columns=['procedure_name'])
dv_fact

### Rearrange columns with foreign keys first
When a primary key from table is found in another table, it is called a **foreign key**. Foreign keys can repeat in the table they are in. Primary keys, however, can never repeat in the tables they are in. This is a very important property. Foreign keys are

In [ ]:
cols = ['patient_id', 'clinic_id', 'doctor_id', 
        'procedure_code', 'visit_date', 'cost']
dv_fact = dv_fact[cols]
dv_fact

## Fact Table
This last DataFrame, **`dv_fact`** is called a **fact table** using database terminology. Fact tables hold the actual **events** or **transactions** that take place in a business. They hold the columns that are subject to change such as date and cost here. If we had data from a grocery store, our fact table would have columns like the number of items purchased, the cost of each item, and the type of payment used.  Fact tables have references to the static dimension tables through foreign keys.

# Data Model Diagram
The diagram of the **data model** or **entity-relationship diagram** is presented below. Data models show the logical relationships between the fact and dimension tables. This type of data model is called a **star schema** and one of the simplest designs.

![](images/doctor_data_model.png)

See [this simple Stack Overflow answer][1] for another description of fact and dimension tables.

[1]: https://stackoverflow.com/a/33750545/3707607

# Exercises

### Problem 1
<span  style="color:green; font-size:16px">Tidy the dataset **`tidy/Impaired_Driving_Death_Rate.csv`**. Make a plot using seaborn comparing male to female drivers in 2012/2014.</span>

In [ ]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">Tidy the dataset **`tidy/store_transactions.csv`**.</span>

In [ ]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Use the **`pd.read_excel`** function to read the **`tidy/genetic_engineered.xlsx`** and tidy it (very difficult).</span>

In [ ]:
# your code here