Use the human resources dataset for these problems.

In [1]:
import pandas as pd
hr = pd.read_csv('../../data/extra/hr.csv')
hr.head()

,department,salary,avg_month_hours,experience,projects,promotion,work_accident,satisfaction,evaluation,left
0,sales,low,157,3,2,0,0,0.38,0.53,1
1,sales,medium,262,6,5,0,0,0.80,0.86,1
2,sales,medium,272,4,7,0,0,0.11,0.88,1
3,sales,low,223,5,5,0,0,0.72,0.87,1
4,sales,low,159,3,2,0,0,0.37,0.52,1

### Problem 1
<span  style="color:green; font-size:16px">Without using a groupby, which salary type appears the most frequently?</span>

In [27]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">How many people have left from each department?</span>

In [28]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Find the people that have left from each department and sort from largest to smallest.</span>

In [29]:
# your code here

### Problem 4
<span  style="color:green; font-size:16px">What's the average satisfaction by salary level?</span>

In [30]:
# your code here

### Problem 5
<span  style="color:green; font-size:16px">Do employees with more experience have more projects?</span>

In [31]:
# your code here

### Problem 6
<span  style="color:green; font-size:16px">Do employees with more experience have less work accidents?</span>

In [32]:
# your code here

### Problem 7
<span  style="color:green; font-size:16px">Which department has the most variance in number of hours worked per month? Make the departments a column name and not the index.</span>

In [2]:
# your code here

## Use the following modified employee dataset for the next few problems

In [5]:
employee = pd.read_csv('../../data/employee.csv', parse_dates=['HIRE_DATE', 'JOB_DATE'])
employee['YEARS_EXPERIENCE'] = 2016 - employee['HIRE_DATE'].dt.year
employee['EXPERIENCE_LEVEL'] =  pd.cut(employee['YEARS_EXPERIENCE'], 
                                       bins=[0, 5, 15, 100], 
                                       labels=['Novice', 'Experienced', 'Senior'])
employee.head()

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,YEARS_EXPERIENCE,EXPERIENCE_LEVEL
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13,10,Experienced
1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18,16,Senior
2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03,1,Novice
3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25,34,Senior
4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22,27,Senior

### Problem 8
<span  style="color:green; font-size:16px">For every level of experience and gender find the average salary.</span>

In [3]:
# your code here

### Problem 9
<span  style="color:green; font-size:16px">Repeat problem 8 but return it as a three column DataFrame.</span>

In [4]:
# your code here

### Problem 10
<span  style="color:green; font-size:16px">For every race and level of experience find the min, max, mean, median of the salary and the size of the group.</span>

In [6]:
# your code here