# 06. Selecting Subsets of Data from DataFrames with `.iloc`

# Getting started with `.iloc`
The `.iloc` indexer is very similar to `.loc` but only uses **integer locations** to make its selections. The word `iloc` itself stands for integer location so that should help remind you what it does.

## Simultaneous row and column subset selection with `.iloc`
Selection with .iloc will look like the following:

```
df.iloc[rows, cols]
```

In [1]:
import pandas as pd
df = pd.read_csv('../data/sample_data.csv', index_col=0)
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

### Use a list for both rows and columns

In [2]:
rows = [2, 4]
cols = [0, -1]

df.iloc[rows, cols]

      state  score
Aaron    FL    9.0
Dean     AK    1.8

## The possible types of selections for `.iloc`
Row or column selections can be any of the following:

* A single integer
* A list of integers
* A slice with integers

### Slice the rows and use a list for the columns

In [3]:
cols = [4, 2]
df.iloc[::2, cols]

          height    food
Jane         165   Steak
Aaron        120   Mango
Dean         180  Cheese
Cornelia     150   Beans

### Use a list for the rows and a slice for the columns

In [4]:
rows = [5, 2, 4]
df.iloc[rows, 3:]

           age  height  score
Christina   33     172    9.5
Aaron       12     120    9.0
Dean        32     180    1.8

## Selecting some rows and all of the columns
If you leave the column selection empty, then all of the columns will be selected.

In [5]:
rows = [3, 2]
df.iloc[rows]

         state  color   food  age  height  score
Penelope    AL  white  Apple    4      80    3.3
Aaron       FL    red  Mango   12     120    9.0

## Select all of the rows and some of the columns

In [6]:
cols = [1, 5]
df.iloc[:, cols]

           color  score
Jane        blue    4.6
Niko       green    8.3
Aaron        red    9.0
Penelope   white    3.3
Dean        gray    1.8
Christina  black    9.5
Cornelia     red    2.2

## Cannot do this with *just the brackets*
Just the brackets does select columns but it only understands **labels** and not **integer location**.

In [7]:
cols = [1, 5]
df[cols]

KeyError: '[1 5] not in index'

## Select some rows and a single column
Note that a Series is returned whenever a single row or column is selected.

In [8]:
rows = [2, 3, 5]
cols = 4

df.iloc[rows, cols]

Aaron        120
Penelope      80
Christina    172
Name: height, dtype: int64

## A trick to select a single row row or column as a DataFrame and NOT a Series
You can select a single row (or column) and return a DataFrame and not a Series if you use a list to make the selection.

In [9]:
rows = [2, 3, 5]
cols = [4]

df.iloc[rows, cols]

           height
Aaron         120
Penelope       80
Christina     172

## Select a single row as a Series with `.iloc`
By passing a single integer to `.iloc`, it will select one row as a Series:

In [10]:
df.iloc[2]

state        FL
color       red
food      Mango
age          12
height      120
score         9
Name: Aaron, dtype: object

# Summary of `.iloc`
Is the exact same as `.loc` but uses **integer location** only for selection. The official Pandas documentation refers to this as selection by **position**.

# Exericses

### Problem 1
<span  style="color:green; font-size:16px">Select the rows with integer location 10, 5, and 1</span>

In [ ]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">Select the columns with integer location 10, 5, and 1</span>

In [ ]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Select rows with integer location 100 to but not including 105 along with the column integer location 5.</span>

In [ ]:
# your code here

# Continue making selections with `.iloc` below

In [ ]:
# your code here