# 4. Datetime Series Methods


# Methods for Series with Datetime data types
In this notebook we will focus on methods that work for Series that contain datetime data. Just like Pandas has the **`str`** accessor to give us access to string only methods, it also has the **`dt`** accessor to give us access to datetime only methods.

Let's read in the bikes dataset which has two datetime columns, **`starttime`**, and **`stoptime`**.

In [1]:
import pandas as pd

bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'])
bikes.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

## Pandas datetime columns are always nanosecond precision
Pandas forces all datetime columns to have nanosecond precision. It relies on NumPy's datetime64 data type as the foundation. NumPy does allow you to have different ranges of precision, microsecond or millisecond, for example, but pandas requires nanosecond precision. Pandas converts any other NumPy datatime to nanoseconds.

Let's take a look at the data types of each column with the **`dtypes`** attribute to verify that we do have two datetime columns.

In [2]:
bikes.dtypes

trip_id                       int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start            float64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end              float64
temperature                 float64
visibility                  float64
wind_speed                  float64
precipitation               float64
events                       object
dtype: object

# The `dt` accessor
The primary focus on this notebook will be the methods that follow the **`dt`** accessor. [Visit the API][1] to view all the possible datetime attributes and methods that are available.

## Use the `read_html` to scrape its own API page and output the `dt` attributes and methods as a DataFrame

The `read_html` function attempts to turn every single HTML table found on the given URL into a Pandas DataFrame. It returns a list DataFrames. It takes an optional second parameter, a string that must be contained in the table.

The Pandas API page places all of the object attribute and methods within HTML tables. This makes it a great page to work with `read_html`. The function searches each table for the phrase `Series.dt.`. Four DataFrames are returned in a list. The first two contain the attributes and methods for the `dt` accessor.

In [29]:
dfs = pd.read_html('http://pandas.pydata.org/pandas-docs/stable/api.html', 'Series[.]dt[.]')
# Check the url. API reference. Go to url and scrape every html tables into a list of dataframes
# 'Series[.]dt[.]' make sure tables have the sequence of expression, anything that has datetime method

dt_attr = dfs[0] # list of dataframes
dt_attr.columns = ['Attributes', 'Description']

dt_methods = dfs[1]
dt_methods.columns = ['Methods', 'Description']

dt_attr

ImportError: lxml not found, please install it

### Only available for Series
The **`dt`** accessor (and **`str`**) are only available to Series objects and not DataFrames. You will have to select a single Series first in order to use it. Let's select the **`starttime`** column as a Series and output the public datetime attributes and methods.

[1]: http://pandas.pydata.org/pandas-docs/stable/api.html#datetimelike-properties

In [4]:
start = bikes['starttime']

In [17]:
bikes.dtypes  # datetime64[ns] for starttime

trip_id                       int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start            float64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end              float64
temperature                 float64
visibility                  float64
wind_speed                  float64
precipitation               float64
events                       object
dtype: object

In [19]:
start.head() # date + time

0   2013-06-28 19:01:00
1   2013-06-28 22:53:00
2   2013-06-30 14:43:00
3   2013-07-01 10:05:00
4   2013-07-01 11:16:00
Name: starttime, dtype: datetime64[ns]

In [21]:
start.dt.day.head()

0    28
1    28
2    30
3     1
4     1
Name: starttime, dtype: int64

In [22]:
start.dt.dayofweek.head() # Monday: 0 , Sunday: 6

0    4
1    4
2    6
3    0
4    0
Name: starttime, dtype: int64

In [28]:
start.dt.month.head()

0    6
1    6
2    6
3    7
4    7
Name: starttime, dtype: int64

### Datetime attributes and methods are simpler than strings
Almost all the attributes and methods available for datetimes are simple and straightforward. Let's take a look at some of them. We will output the head of the Series so that we can visually verify the results of the attributes and methods.

In [5]:
start.head()

0   2013-06-28 19:01:00
1   2013-06-28 22:53:00
2   2013-06-30 14:43:00
3   2013-07-01 10:05:00
4   2013-07-01 11:16:00
Name: starttime, dtype: datetime64[ns]

There are many attributes that return a particular part of the datetime such as **`year, month, day, hour, minute, second`**, etc...

In [6]:
start.dt.year.head()

0    2013
1    2013
2    2013
3    2013
4    2013
Name: starttime, dtype: int64

In [7]:
start.dt.month.head()

0    6
1    6
2    6
3    7
4    7
Name: starttime, dtype: int64

In [8]:
start.dt.minute.head()

0     1
1    53
2    43
3     5
4    16
Name: starttime, dtype: int64

In [9]:
# monday is 0
start.dt.dayofweek.head()

0    4
1    4
2    6
3    0
4    0
Name: starttime, dtype: int64

In [10]:
# week of year
start.dt.week.head()

0    26
1    26
2    26
3    27
4    27
Name: starttime, dtype: int64

## Datetime methods
There are actually only a few methods that exist with the most useful being **`ceil`**, **`round`**, **`floor`**, **`strftime`**, and **`to_period`**. To use these methods you will need to be familiar with the [offset aliases][1], which are short strings, usually one character, that represent an element of time.

* **`D`** - day
* **`H`** - hour
* **`T`** or **`min`** - minute
* **`S`** - second

[1]: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

### Scrape the offset aliases and output them in the notebook

In [11]:
dfs = pd.read_html('http://pandas.pydata.org/pandas-docs/stable/timeseries.html', 
                   match='business day frequency',
                   attrs={'class' :"colwidths-given docutils"})
offset_aliases = dfs[0]
offset_aliases

ImportError: lxml not found, please install it

### Use offset aliases with datetime methods

In [12]:
start.head()

0   2013-06-28 19:01:00
1   2013-06-28 22:53:00
2   2013-06-30 14:43:00
3   2013-07-01 10:05:00
4   2013-07-01 11:16:00
Name: starttime, dtype: datetime64[ns]

## `ceil` rounds up to nearest unit

Round up to nearest hour:

In [13]:
start.dt.ceil('H').head() # above it, an hour up.  19:01:00 will be 20:00:00

0   2013-06-28 20:00:00
1   2013-06-28 23:00:00
2   2013-06-30 15:00:00
3   2013-07-01 11:00:00
4   2013-07-01 12:00:00
Name: starttime, dtype: datetime64[ns]

Round up to nearest day:

In [14]:
start.dt.ceil('D').head()

0   2013-06-29
1   2013-06-29
2   2013-07-01
3   2013-07-02
4   2013-07-02
Name: starttime, dtype: datetime64[ns]

**`floor`** rounds down:

In [15]:
start.dt.floor('min').head() # go down

0   2013-06-28 19:01:00
1   2013-06-28 22:53:00
2   2013-06-30 14:43:00
3   2013-07-01 10:05:00
4   2013-07-01 11:16:00
Name: starttime, dtype: datetime64[ns]

**`round`** rounds normally to nearest whole unit.

In [16]:
start.dt.round('H').head() # normal rounding

0   2013-06-28 19:00:00
1   2013-06-28 23:00:00
2   2013-06-30 15:00:00
3   2013-07-01 10:00:00
4   2013-07-01 11:00:00
Name: starttime, dtype: datetime64[ns]

# Exercises

### Problem 1
<span  style="color:green; font-size:16px">What percentage of bike rides happen in January?</span>

In [30]:
bikes.head(2)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.88105,-87.61697,11.0,Michigan Ave & Oak St,41.90096,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.88338,-87.64117,31.0,Wells St & Walton St,41.89993,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy

In [35]:
# your code here
filt = start.dt.month == 1

In [37]:
(start.dt.month == 1).sum() / len(start)

0.027191598953862126

### Problem 2
<span  style="color:green; font-size:16px">What percentage of bike rides happen on the weekend?</span>

In [44]:
# your code here
((start.dt.weekday == 5) | (start.dt.weekday == 6)).head()

0    False
1    False
2     True
3    False
4    False
Name: starttime, dtype: bool

In [45]:
((start.dt.weekday == 5) | (start.dt.weekday == 6)).sum() / len(start)

0.19692946555131866

### Problem 3
<span  style="color:green; font-size:16px">What percentage of bike rides happen on the last day of the month?</span>

In [48]:
# your code here
start.dt.is_month_end.mean()

0.031563816406795904

### Problem 4
<span  style="color:green; font-size:16px">We would expect that the value of the minutes recorded for each starting ride is approximately random. Can you show some data that confirms or rejects this?</span>

In [ ]:
# your code here

### Problem 5
<span  style="color:green; font-size:16px">Assign the length of the ride to `ride_length`. Then find the percentage of rides that lasted longer than 30 minutes.</span>

In [52]:
# your code here
stop = bikes['stoptime']
stop.head()

0   2013-06-28 19:17:00
1   2013-06-28 23:03:00
2   2013-06-30 15:01:00
3   2013-07-01 10:16:00
4   2013-07-01 11:18:00
Name: stoptime, dtype: datetime64[ns]

In [55]:
ride_length = stop - start
(stop - start).head()

0   00:16:00
1   00:10:00
2   00:18:00
3   00:11:00
4   00:02:00
dtype: timedelta64[ns]

In [57]:
(ride_length.dt.seconds > 30 * 60).mean()

0.019625067380063487

# Explore the `dt` accessor

# Extra
Some extra notes on the Period and Timedelta objects

## Format time as a string with `strftime`
The **`strftime`** stands for **str**ing **f**ormat **time**. It turns each datetime into a string object. You must consult [Python's documentation][1] to determine how you want your string to be formatted.

[1]: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [58]:
start.dt.strftime('%A, %B %d, %Y at %X').head()

0    Friday, June 28, 2013 at 19:01:00
1    Friday, June 28, 2013 at 22:53:00
2    Sunday, June 30, 2013 at 14:43:00
3    Monday, July 01, 2013 at 10:05:00
4    Monday, July 01, 2013 at 11:16:00
Name: starttime, dtype: object

## Convert to a Period object
Period objects are special data types unique to pandas and simply represent an entire period of time such as the entire month of June, 2012 or the entire year 1998, or the entire minute of June 11, 2011 12:34 p.m.

This contrasts with datetimes which represent a particular moment in time with nanosecond precision. Datetimes are always specific all the way down to a nanosecond.

### Use offset aliases to convert to a period
To convert to a period use the same [offset aliases](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases) from above.

Let's do some conversions: First to a month.

In [59]:
start.dt.to_period('M').head()

0   2013-06
1   2013-06
2   2013-06
3   2013-07
4   2013-07
Name: starttime, dtype: object

Convert to a time span of an hour:

In [60]:
start.dt.to_period('h').head()

0   2013-06-28 19:00
1   2013-06-28 22:00
2   2013-06-30 14:00
3   2013-07-01 10:00
4   2013-07-01 11:00
Name: starttime, dtype: object

# Timedeltas
Timedeltas are a separate data type that represent an amount of time such as 5 minutes and 34 seconds. The highest unit of a timedelta is days. Timedelta Series can also use the **`dt`** accessor.

### Creating a Timedelta
To create a timedelta, subtract two datetime Series from each other. Here, we select the stop time as a Series and subtract the **`start`** Series from it.

In [61]:
stop = bikes['stoptime']
ride_length = stop - start
ride_length.head()

0   00:16:00
1   00:10:00
2   00:18:00
3   00:11:00
4   00:02:00
dtype: timedelta64[ns]

There are much fewer attributes and methods for timedeltas but they work the same way: