# Course Solutions

1. [Series Attributes and Statistical Methods](#1.-Series-Attributes-and-Statistical-Methods)
1. [Series Methods More](#2.-Series-Methods-More)
1. [String Series Methods](#3.-String-Series-Methods)
1. [Datetime Series Methods](#4.-Datetime-Series-Methods)
1. DataFrame Attributes and Methods
1. [DataFrame Descriptive Statistic Methods](#6.-DataFrame-Descriptive-Statistic-Methods)
1. [DataFrame Methods More](#7.-DataFrame-Methods-More)

# 1. Series Attributes and Statistical Methods

In [3]:
import pandas as pd

### Problem 1
<span  style="color:green; font-size:16px">Read in the movie dataset with the title as the index and assign the `imdb_score` as a Series to variable `score`. Output the first 5 values.</span>

In [4]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head()

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [3]:
score = movie['imdb_score']
score.head()

title
Avatar                                        7.9
Pirates of the Caribbean: At World's End      7.1
Spectre                                       6.8
The Dark Knight Rises                         8.5
Star Wars: Episode VII - The Force Awakens    7.1
Name: imdb_score, dtype: float64

### Problem 2
<span  style="color:green; font-size:16px">What is the data type of `score` and how many values does it contain?</span>

In [4]:
score.dtype

dtype('float64')

In [5]:
score.size

4916

Or use the `len` method

In [6]:
len(score)

4916

### Problem 3
<span  style="color:green; font-size:16px">What is the maximum and minimum score?</span>

In [7]:
score.max()

9.5

In [8]:
score.min()

1.6

### Problem 4
<span  style="color:green; font-size:16px">How many missing values are there in the `score`?</span>

In [9]:
score.size - score.count()

0

### Problem 5
<span  style="color:green; font-size:16px">Read he docstrings on how the `rank` method works and then rank the first 10 values in `score` from highest to lowest.</span>

In [10]:
score.head(10).rank(ascending=False)

title
Avatar                                         2.0
Pirates of the Caribbean: At World's End       6.5
Spectre                                        8.0
The Dark Knight Rises                          1.0
Star Wars: Episode VII - The Force Awakens     6.5
John Carter                                    9.0
Spider-Man 3                                  10.0
Tangled                                        3.0
Avengers: Age of Ultron                        4.5
Harry Potter and the Half-Blood Prince         4.5
Name: imdb_score, dtype: float64

Can also assign the head to a variable and then call `rank`.

In [11]:
score_head = score.head(10)

In [12]:
score_head.rank()

title
Avatar                                         9.0
Pirates of the Caribbean: At World's End       4.5
Spectre                                        3.0
The Dark Knight Rises                         10.0
Star Wars: Episode VII - The Force Awakens     4.5
John Carter                                    2.0
Spider-Man 3                                   1.0
Tangled                                        8.0
Avengers: Age of Ultron                        6.5
Harry Potter and the Half-Blood Prince         6.5
Name: imdb_score, dtype: float64

### Problem 6
<span  style="color:green; font-size:16px">How many movies have scores greater than 6? (Remember that True/False evaluates to 1/0)</span>

In [13]:
(score > 6).sum()

3368

### Problem 7
<span  style="color:green; font-size:16px">How many movies have scores greater than 4 and less than 7?</span>

In [14]:
filt1 = score > 4
filt2 = score < 7
filt = filt1 & filt2

filt.sum()

3021

Or in one line of code

In [15]:
((score > 4) & (score < 7)).sum()

3021

### Problem 8
<span  style="color:green; font-size:16px">Find the difference between the median and mean of the scores.</span>

In [16]:
score.median() - score.mean()

0.1625711960943912

### Problem 9
<span  style="color:green; font-size:16px">Add 1 to every value of `score` and then calculate the median.</span>

In [17]:
(score + 1).median()

7.6

### Problem 10
<span  style="color:green; font-size:16px">Calculate the median of `score` and add 1 to this. Why is this value the same as problem 9?</span>

In [18]:
score.median() + 1

7.6

### Problem 11
<span  style="color:green; font-size:16px">Return a Series that has only scores above the 99.9th percentile</span>

In [19]:
filt = score > score.quantile(.999)
score[filt]

title
The Shawshank Redemption    9.3
Towering Inferno            9.5
Dekalog                     9.1
The Godfather               9.2
Kickboxer: Vengeance        9.1
Name: imdb_score, dtype: float64

# 2. Series Methods More

### Problem 1
<span  style="color:green; font-size:16px">What percentage of actor 1 Facebook likes are missing?</span>

In [20]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head()

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [21]:
movie['actor1_fb'].isna().mean()

0.0014239218877135883

### Problem 2
<span  style="color:green; font-size:16px">Use the `notna` method to find the number of non-missing values in the actor 1 Facebook like column. Verify this number is the same as the `count` method.</span>

In [22]:
movie['actor1_fb'].notna().sum()

4909

In [23]:
movie['actor1_fb'].count()

4909

### Problem 3
<span  style="color:green; font-size:16px">Fill the missing values of `actor1_fb` with the maximum of `actor2_fb`. Save this result to variable `actor1_fb_full`</span>

In [24]:
max_fb2 = movie['actor2_fb'].max()
max_fb2

137000.0

In [25]:
actor1_fb_full = movie['actor1_fb'].fillna(max_fb2)
actor1_fb_full.head()

title
Avatar                                         1000.0
Pirates of the Caribbean: At World's End      40000.0
Spectre                                       11000.0
The Dark Knight Rises                         27000.0
Star Wars: Episode VII - The Force Awakens      131.0
Name: actor1_fb, dtype: float64

### Problem 4
<span  style="color:green; font-size:16px">Verify the results of problem 3 by selecting just the values of `actor1_fb_full` that were filled by `actor2_fb`.</span>

In [26]:
filt = movie['actor1_fb'].isna()
actor1_fb_full[filt]

title
Pink Ribbons, Inc.         137000.0
Sex with Strangers         137000.0
The Harvest/La Cosecha     137000.0
Ayurveda: Art of Being     137000.0
The Brain That Sings       137000.0
The Blood of My Brother    137000.0
Counting                   137000.0
Name: actor1_fb, dtype: float64

In [27]:
movie['actor2_fb'].max()

137000.0

### Problem 5
<span  style="color:green; font-size:16px">Randomly sample the `actor1_fb_full` Series with replacement to select three values. Use random state 54321.</span>

In [28]:
actor1_fb_full.sample(3, replace=True, random_state=54321)

title
Firestarter          695.0
November             308.0
Waltz with Bashir     56.0
Name: actor1_fb, dtype: float64

### Problem 6
<span  style="color:green; font-size:16px">How many unique directors are there?</span>

In [29]:
movie['director_name'].nunique()

2397

### Problem 7
<span  style="color:green; font-size:16px">Select the `year` column, sort it, and drop any duplicates?</span>

In [30]:
movie['year'].sort_values().drop_duplicates()

title
Intolerance: Love's Struggle Throughout the Ages           1916.0
Over the Hill to the Poorhouse                             1920.0
The Big Parade                                             1925.0
Metropolis                                                 1927.0
The Broadway Melody                                        1929.0
Hell's Angels                                              1930.0
A Farewell to Arms                                         1932.0
42nd Street                                                1933.0
It Happened One Night                                      1934.0
Top Hat                                                    1935.0
The Charge of the Light Brigade                            1936.0
The Prisoner of Zenda                                      1937.0
You Can't Take It with You                                 1938.0
Gone with the Wind                                         1939.0
Rebecca                                                    1940.0
How Green Was My Valley                                    1941.0
Bambi                                                      1942.0
A Guy Named Joe                                            1943.0
Bathing Beauty                                             1944.0
The Valley of Decision                                     1945.0
It's a Wonderful Life                                      1946.0
The Lady from Shanghai                                     1947.0
Red River                                                  1948.0
Sands of Iwo Jima                                          1949.0
Annie Get Your Gun                                         1950.0
Show Boat                                                  1951.0
Singin' in the Rain                                        1952.0
Niagara                                                    1953.0
The Egyptian                                               1954.0
Ordet                                                      1955.0
                                                            ...
Phantasm II                                                1988.0
Roger & Me                                                 1989.0
Gremlins 2: The New Batch                                  1990.0
Teenage Mutant Ninja Turtles II: The Secret of the Ooze    1991.0
Unforgiven                                                 1992.0
Nowhere to Run                                             1993.0
Exotica                                                    1994.0
The Scarlet Letter                                         1995.0
Eraser                                                     1996.0
Speed 2: Cruise Control                                    1997.0
Stiff Upper Lips                                           1998.0
Dudley Do-Right                                            1999.0
Center Stage                                               2000.0
Life as a House                                            2001.0
Poolhall Junkies                                           2002.0
Wonderland                                                 2003.0
Hotel Rwanda                                               2004.0
Goal! The Dream Begins                                     2005.0
Just My Luck                                               2006.0
Lucky You                                                  2007.0
Synecdoche, New York                                       2008.0
New in Town                                                2009.0
The Book of Eli                                            2010.0
Soul Surfer                                                2011.0
Man on a Ledge                                             2012.0
The Wolverine                                              2013.0
An American in Hollywood                                   2014.0
The Lovers                                                 2015.0
Pete's Dragon                                              2016.0
Star Wars: Episode VII - The Force Awakens                    NaN
Name: year, Length: 92, dtype: float64

### Problem 8
<span  style="color:green; font-size:16px">Get the same result as problem 7 by dropping duplicates first and then sort. Which method is faster?</span>

Faster to drop duplicates then sort.

In [31]:
%timeit -n 5 movie['year'].drop_duplicates().sort_values()

894 Âµs Â± 196 Âµs per loop (mean Â± std. dev. of 7 runs, 5 loops each)

In [32]:
%timeit -n 5 movie['year'].sort_values().drop_duplicates()

1.39 ms Â± 156 Âµs per loop (mean Â± std. dev. of 7 runs, 5 loops each)

# 3. String Series Methods

### Problem 1
<span  style="color:green; font-size:16px">Read in the movie dataset and set the title as the index. Assign the actor 1 column to its own Series variable. Make sure to drop missing values from this Series before assigning it.

Which actor 1 has appeared in the most movies? Can you write an expression that returns this actors name as a string?</span>

In [5]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
actor1 = movie['actor1'].dropna()
actor1.value_counts().head()

Robert De Niro       48
Johnny Depp          36
Nicolas Cage         32
Denzel Washington    29
Matt Damon           29
Name: actor1, dtype: int64

In [6]:
actor1.value_counts().index[0]

'Robert De Niro'

### Problem 2
<span  style="color:green; font-size:16px">What percent of movies have the top 100 most frequent actor 1's appeared in?</span>

In [35]:
actor1.value_counts(normalize=True).iloc[:100].sum()

0.325117131798737

### Problem 3
<span  style="color:green; font-size:16px">How many actor 1's have appeared in exactly one movie?</span>

In [36]:
(actor1.value_counts() == 1).sum()

1379

### Problem 4
<span  style="color:green; font-size:16px">How many actor 1's have more than 3 e's in their name? Output a unique array of just these actor names so we can manually verify them.</span>

In [37]:
more_than_3e = actor1.str.count('e') > 3
more_than_3e.sum()

101

In [38]:
actor1[more_than_3e].unique()

array(['Jennifer Lawrence', 'Keanu Reeves', 'Seychelle Gabriel',
       'Jeremy Renner', 'Amber Stevens West', 'Peter Greene',
       'Steven Anthony Lawrence', 'Cedric the Entertainer',
       'Sean Pertwee', 'Xander Berkeley', 'Kathleen Freeman',
       'Pierre Perrier', 'Catherine Deneuve', 'George Kennedy',
       'Leighton Meester', 'Steve Guttenberg', 'Emmanuelle Seigner',
       'Jurnee Smollett-Bell', 'Steve Oedekerk',
       'Johannes Silberschneider', 'Bernadette Peters',
       'Jacqueline McKenzie', 'Dee Bradley Baker', 'Jennifer Freeman',
       'Gene Tierney', 'Roscoe Lee Browne', 'Phoebe Legere',
       'Eric Sheffer Stevens', 'Michael Greyeyes', 'Steven Weber',
       'George Newbern', 'Florence Henderson', 'Michelle Simone Miller',
       'Chemeeka Walker', 'Fereshteh Sadre Orafaiy'], dtype=object)

### Problem 5
<span  style="color:green; font-size:16px">Get a unique list of all actors that have the name 'Johnson' as part of their name. Note: When using the </span>

In [39]:
actor1[actor1.str.contains('Johnson').values].unique()

array(['Don Johnson', 'Dwayne Johnson', 'Richard Johnson', 'Eric Johnson',
       'Bill Johnson', 'Nicole Randall Johnson', 'R. Brandon Johnson'],
      dtype=object)

### Problem 6
<span  style="color:green; font-size:16px">How many actor 1 names end in 'x'?</span>

In [40]:
actor1.str.endswith('x').sum()

28

### Problem 7
<span  style="color:green; font-size:16px">The Pandas string methods overlap with the builtin Python string methods. Find all the public method names that are in-common to both. Then find the public methods that are unique to each.</span>

In [7]:
python_str = {method for method in dir(str) if method[0] != '_'}
pandas_str = {method for method in dir(actor1.str) if method[0] != '_'}

In [8]:
python_str & pandas_str

{'capitalize',
 'center',
 'count',
 'encode',
 'endswith',
 'find',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill'}

In [43]:
python_str - pandas_str

{'casefold',
 'expandtabs',
 'format',
 'format_map',
 'isidentifier',
 'isprintable',
 'maketrans',
 'splitlines'}

In [44]:
pandas_str - python_str

{'cat',
 'contains',
 'decode',
 'extract',
 'extractall',
 'findall',
 'get',
 'get_dummies',
 'len',
 'match',
 'normalize',
 'pad',
 'repeat',
 'slice',
 'slice_replace',
 'wrap'}

# 4. Regular Expressions Part 1

In [45]:
import pandas as pd
title = pd.read_csv('../data/movie.csv')['title']
title.head()

0                                        Avatar
1      Pirates of the Caribbean: At World's End
2                                       Spectre
3                         The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens
Name: title, dtype: object

### Problem 1
<span  style="color:green; font-size:16px">Find all movies that begin with 'The' followed by the next word that begins with digits.</span>

In [46]:
pattern = r'^The \d+'
title[title.str.contains(pattern)]

212                                      The 13th Warrior
429                                           The 6th Day
1354                                         The 5th Wave
1817                               The 40-Year-Old Virgin
1958                                               The 33
3567                                      The 5th Quarter
4373    The 41-Year-Old Virgin Who Knocked Up Sarah Ma...
Name: title, dtype: object

In [47]:
pattern = r'^The [0-9]+'
title[title.str.contains(pattern)]

212                                      The 13th Warrior
429                                           The 6th Day
1354                                         The 5th Wave
1817                               The 40-Year-Old Virgin
1958                                               The 33
3567                                      The 5th Quarter
4373    The 41-Year-Old Virgin Who Knocked Up Sarah Ma...
Name: title, dtype: object

### Problem 2
<span  style="color:green; font-size:16px">For all movies that begin with 'The' and are followed by the next word that begins with a digit, extract just the digits part of this word.</span>

In [48]:
pattern = r'^The (\d+)'
title.str.extract(pattern).dropna()

       0
212   13
429    6
1354   5
1817  40
1958  33
3567   5
4373  41

### Problem 3
<span  style="color:green; font-size:16px">Find all movies that have three consecutive capital letters in them.</span>

In [49]:
pattern = r'[A-Z]{3}'
title[title.str.contains(pattern)]

4             Star Wars: Episode VII - The Force Awakens
40                                          TRON: Legacy
58                                                WALLÂ·E
140                              Mission: Impossible III
177                                              The BFG
233         Star Wars: Episode III - Revenge of the Sith
340                                    Jurassic Park III
440                                                RED 2
589                              AVP: Alien vs. Predator
725                                                  RED
810                                            Rambo III
886                              The Godfather: Part III
972                                Beverly Hills Cop III
1039                                               K-PAX
1191                         Back to the Future Part III
1207                                                 JFK
1323                                        Superman III
1411                                                TMNT
1705                                  DOA: Dead or Alive
2111                    Teenage Mutant Ninja Turtles III
2367                 Star Trek III: The Search for Spock
2471                                      McFarland, USA
2473                                                 ATL
2716                                      Magic Mike XXL
3021                                                 LOL
3039                                             Saw III
3208                                     Poltergeist III
3214                                         Richard III
3244                                                 PCU
3281                                            The DUFF
3665    Friday the 13th Part VIII: Jason Takes Manhattan
3692                                                 UHF
4055                                             AWOL-72
4070             Friday the 13th Part VII: The New Blood
4096                  Halloween III: Season of the Witch
4138                            Friday the 13th Part III
4218                       Return of the Living Dead III
4257                           ABCD (Any Body Can Dance)
4511                    ZMD: Zombies of Mass Destruction
Name: title, dtype: object

### Problem 4
<span  style="color:green; font-size:16px">Find all movies that have two separate numbers in them. An example would be, '7 days and 7 nights'.</span>

In [50]:
pattern = r'\d+ .*\d+'
title[title.str.contains(pattern)]

289             The Taking of Pelham 1 2 3
509                       2 Fast 2 Furious
1610                        13 Going on 30
1617    Naked Gun 33 1/3: The Final Insult
2466                 40 Days and 40 Nights
2646                                 U2 3D
4210               24 7: Twenty Four Seven
4532          4 Months, 3 Weeks and 2 Days
Name: title, dtype: object

### Problem 5
<span  style="color:green; font-size:16px">Find all movies that have begin and end with a capital letter.</span>

In [51]:
pattern = r'^[A-Z].*[A-Z]$'
title[title.str.contains(pattern)].head()

46                 World War Z
58                      WALLÂ·E
140    Mission: Impossible III
151            Men in Black II
177                    The BFG
Name: title, dtype: object

### Problem 6
<span  style="color:green; font-size:16px">Find all the movies that have 6 or more non-vowel and non-space characters in a row.</span>

In [52]:
pattern = r'[^aeiouAEIOU ]{6,}'
title[title.str.contains(pattern)]

276                                10,000 B.C.
542                    The Man from U.N.C.L.E.
1935                          Punch-Drunk Love
2392                                  Catch-22
2480                         Brooklyn's Finest
2507                   When Harry Met Sally...
2912        Tales from the Crypt: Demon Knight
3266    Ultramarines: A Warhammer 40,000 Movie
3641              20,000 Leagues Under the Sea
4775             The Beast from 20,000 Fathoms
Name: title, dtype: object

### Problem 7
<span  style="color:green; font-size:16px">Find all the movies that have a digit followed by a comma followed by a digit.</span>

In [53]:
pattern = r'\d,\d'
title[title.str.contains(pattern)]

276                                10,000 B.C.
3266    Ultramarines: A Warhammer 40,000 Movie
3641              20,000 Leagues Under the Sea
4775             The Beast from 20,000 Fathoms
Name: title, dtype: object

### Problem 8
<span  style="color:green; font-size:16px">Find all the movies that have either an ampersand or a question mark in them.</span>

In [54]:
pattern = r'[&?]'
title[title.str.contains(pattern)].head()

129          Angels & Demons
145    Mr. Peabody & Sherman
214           Batman & Robin
252         Mr. & Mrs. Smith
278           Town & Country
Name: title, dtype: object

### Problem 9
<span  style="color:green; font-size:16px">Which movie has the most ampersands, question marks, and periods in it?</span>

In [55]:
pattern = r'[&.?]'
count = title.str.count(pattern)

In [56]:
title[count == count.max()]

542    The Man from U.N.C.L.E.
Name: title, dtype: object

In [57]:
count.max()

5

### Problem 10
<span  style="color:green; font-size:16px">Extract the very next character after 't' or 'T' for each movie.</span>

In [58]:
pattern = r'[Tt](.)'
title.str.extract(pattern).head()

   0
0  a
1  e
2  r
3  h
4  a

### Problem 11
<span  style="color:green; font-size:16px">What is the most common character after 't' or 'T'?</span>

In [59]:
pattern = r'[Tt](.)'
letters = title.str.extract(pattern)
letters.head()

   0
0  a
1  e
2  r
3  h
4  a

This is a DataFrame. The column name is the integer 0. Let's select it as a Series.

In [60]:
letter_series = letters[0]
letter_series.head()

0    a
1    e
2    r
3    h
4    a
Name: 0, dtype: object

In [61]:
letter_series.value_counts().head()

h    1431
      311
e     266
o     183
i     169
Name: 0, dtype: int64

Minor detail here - there is an `expand` parameter than you can set to `False` to return a Series.

In [62]:
pattern = r'[Tt](.)'
letters = title.str.extract(pattern, expand=False)
letters.head()

0    a
1    e
2    r
3    h
4    a
Name: title, dtype: object

In [63]:
letters.value_counts().head()

h    1431
      311
e     266
o     183
i     169
Name: title, dtype: int64

The above only extracts the character after first appearance of the letter 't'. Use the `extractall` string method to get the first characters after each 't'.

In [64]:
pattern = r'[Tt](.)'
letters = title.str.extractall(pattern)
letters.head()

         0
  match
0 0      a
1 0      e
  1      h
  2
2 0      r

In [65]:
letters[0].value_counts().head()

h    1942
      620
e     480
o     354
i     343
Name: 0, dtype: int64

### Problem 13
<span style="color:green; font-size:16px">Extract all the words that begin with 'T' or 't' and end in 'e' then find their frequency. Research the word boundaray special character.</span>

In [66]:
pattern = r'\b([tT]\w*e)\b'
letters = title.str.extractall(pattern)
letters[0].str.lower().value_counts()

the              1555
time               26
tale               12
true               10
three               8
teenage             7
take                6
there               6
trade               4
trouble             4
treasure            2
twice               2
terrace             2
tree                1
timeline            1
temple              1
transcendence       1
thunderdome         1
turtle              1
tombstone           1
trance              1
twelve              1
tadpole             1
tease               1
torque              1
tide                1
throttle            1
torture             1
tootsie             1
tae                 1
trapeze             1
turbulence          1
triple              1
terrible            1
tape                1
thr3e               1
triangle            1
Name: 0, dtype: int64

# 4. Datetime Series Methods

In [67]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'])
start = bikes['starttime']

### Problem 1
<span  style="color:green; font-size:16px">What percentage of bike rides happen in January?</span>

In [68]:
# 2.7%
start.dt.month.value_counts(normalize=True)

8     0.137375
7     0.132245
9     0.130168
6     0.120525
10    0.111102
5     0.086227
11    0.071433
4     0.064286
12    0.045000
3     0.044101
2     0.030346
1     0.027192
Name: starttime, dtype: float64

### Problem 2
<span  style="color:green; font-size:16px">What percentage of bike rides happen on the weekend?</span>

In [69]:
start.dt.weekday.isin([5, 6]).mean()

0.19692946555131866

Or like this:

In [70]:
(start.dt.weekday > 4).mean()

0.19692946555131866

### Problem 3
<span  style="color:green; font-size:16px">What percentage of bike rides happen on the last day of the month?</span>

In [71]:
start.dt.is_month_end.mean()

0.031563816406795904

### Problem 4
<span  style="color:green; font-size:16px">We would expect that the value of the minutes recorded for each starting ride is approximately random. Can you show some data that confirms or rejects this?</span>

The distribution looks quite uniform:

In [72]:
start.dt.minute.value_counts(normalize=True)

12    0.017968
6     0.017928
8     0.017868
18    0.017808
43    0.017629
21    0.017549
10    0.017529
48    0.017509
44    0.017449
15    0.017409
53    0.017349
17    0.017329
37    0.017309
13    0.017289
19    0.017269
33    0.017229
42    0.017229
39    0.017189
24    0.017189
22    0.017110
34    0.017070
29    0.017070
45    0.016950
5     0.016890
36    0.016870
11    0.016870
14    0.016870
49    0.016850
47    0.016830
30    0.016810
16    0.016710
32    0.016670
38    0.016630
1     0.016630
40    0.016531
7     0.016491
2     0.016471
46    0.016471
4     0.016391
23    0.016331
54    0.016311
57    0.016291
3     0.016251
28    0.016091
35    0.016071
59    0.016071
56    0.016031
0     0.015932
58    0.015912
50    0.015872
31    0.015872
55    0.015852
9     0.015812
27    0.015812
41    0.015712
20    0.015612
25    0.015512
52    0.015253
51    0.015213
26    0.014973
Name: starttime, dtype: float64

### Problem 5
<span  style="color:green; font-size:16px">Assign the length of the ride to `ride_length`. Then find the percentage of rides that lasted longer than 30 minutes.</span>

In [73]:
stop = bikes['stoptime']
ride_length = stop - start

In [74]:
(ride_length.dt.total_seconds() > (60 * 30)).mean()

0.019625067380063487

# 6. DataFrame Descriptive Statistic Methods

In [75]:
import pandas as pd
college = pd.read_csv('../data/college.csv', index_col='instnm')
college_race = college.loc[:, 'ugds_white':'ugds_unkn']

movie = pd.read_csv('../data/movie.csv', index_col='title')
pd.options.display.max_columns = 100

### Problem 1
<span  style="color:green; font-size:16px">Read in the movie dataset and calculate the mean of each actor Facebook like column. Which actor (1, 2, or 3) has the highest mean?</span>

In [76]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head()

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,NaN,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

actor 1 has the most FB likes.

In [77]:
movie[['actor1_fb', 'actor2_fb', 'actor3_fb']].mean()

actor1_fb    6494.488491
actor2_fb    1621.923516
actor3_fb     631.276313
dtype: float64

It's also a good idea to assign just the actor FB likes to their own DataFrame:

In [78]:
actors_fb = movie[['actor1_fb', 'actor2_fb', 'actor3_fb']]
actors_fb.mean()

actor1_fb    6494.488491
actor2_fb    1621.923516
actor3_fb     631.276313
dtype: float64

### Problem 2
<span  style="color:green; font-size:16px">Calculate the total Facebook likes of all three actors for each movie</span>

In [79]:
actors_fb.sum(axis='columns').head()

title
Avatar                                         2791.0
Pirates of the Caribbean: At World's End      46000.0
Spectre                                       11554.0
The Dark Knight Rises                         73000.0
Star Wars: Episode VII - The Force Awakens      143.0
dtype: float64

### Problem 3
<span  style="color:green; font-size:16px">What percentage of movies have more than 10,000 total actor FB likes?</span>

About 30%

In [80]:
(actors_fb.sum(axis='columns') > 10000).mean()

0.2982099267697315

### Problem 4
<span  style="color:green; font-size:16px">Find the median gross revenue in millions of dollars for the movies that have more than 10,000 total actor FB likes. Do the same for movies with 10,000 or less total actor FB likes.</span>

In [81]:
criteria = actors_fb.sum(axis='columns') > 10000
movie.loc[criteria, 'gross'].median() / 10 ** 6

42.3919155

In [82]:
movie.loc[~criteria, 'gross'].median() / 10 ** 6

16.8157525

### Problem 5
<span  style="color:green; font-size:16px">From problem 4, it appears that movies with more than 10,000 total actor FB likes gross 2.5 times as much. This may be due to the fact that newer movies have more actors that are recognized by FB users. Find the median year produced for both groups.</span>

In [83]:
movie.loc[criteria, 'year'].median()

2006.0

In [84]:
movie.loc[~criteria, 'year'].median()

2005.0

### Problem 6
<span  style="color:green; font-size:16px">For each movies made in the year 2016, what is the median of the total actor FB likes?</span>

In [85]:
criteria = movie['year'] == 2016
cols = ['actor1_fb', 'actor2_fb', 'actor3_fb']
movie.loc[criteria, cols].sum(axis='columns').median()

3571.5

### Problem 7
<span  style="color:green; font-size:16px">Write a function that has a single parameter, `year`. Have it return the median of the total actor FB likes for the given year. Test your function with the year 2016 and verify the result with problem 6.</span>

In [86]:
def median_fb_likes(year):
    criteria = movie['year'] == year
    cols = ['actor1_fb', 'actor2_fb', 'actor3_fb']
    return movie.loc[criteria, cols].sum(axis='columns').median()

In [87]:
median_fb_likes(2016)

3571.5

### Problem 8
<span  style="color:green; font-size:16px">Write a loop to print out the year and median total actor FB likes for that year from 1990 to 2016</span>

In [88]:
for year in range(1990, 2017):
    print(year, median_fb_likes(year))

1990 2017.0
1991 2436.0
1992 2147.5
1993 2018.0
1994 2368.5
1995 2612.0
1996 2692.5
1997 1964.0
1998 2482.0
1999 2595.0
2000 2378.0
2001 2424.0
2002 2146.0
2003 2019.0
2004 2298.0
2005 2072.0
2006 2359.0
2007 2002.5
2008 2400.0
2009 2145.0
2010 2411.0
2011 2818.5
2012 2426.0
2013 2420.0
2014 2084.0
2015 2063.0
2016 3571.5

### Problem 9
<span  style="color:green; font-size:16px">Using the **college** dataset, find the number of non-missing values in each column and again for each row.</span>

In [89]:
college = pd.read_csv('../data/college.csv')

non-missing for each column

In [90]:
college.count()

instnm                7535
city                  7535
stabbr                7535
hbcu                  7164
menonly               7164
womenonly             7164
relaffil              7535
satvrmid              1185
satmtmid              1196
distanceonly          7164
ugds                  6874
ugds_white            6874
ugds_black            6874
ugds_hisp             6874
ugds_asian            6874
ugds_aian             6874
ugds_nhpi             6874
ugds_2mor             6874
ugds_nra              6874
ugds_unkn             6874
pptug_ef              6853
curroper              7535
pctpell               6849
pctfloan              6849
ug25abv               6718
md_earn_wne_p10       6413
grad_debt_mdn_supp    7503
dtype: int64

non-missing values for the rows

In [91]:
college.count(axis='columns').head()

0    27
1    27
2    25
3    27
4    27
dtype: int64

### Problem 10
<span  style="color:green; font-size:16px">What is the average number of missing values for each row?</span>

In [92]:
college.count(axis='columns').mean()

23.70763105507631

### Problem 11
<span  style="color:green; font-size:16px">The `UGDS` column of the college dataset contains the total undergraduate population. What is the least number of colleges it would take to have have a total of more than 5 million students.</span>

In [93]:
ugds_cumsum = college['ugds'].sort_values(ascending=False).cumsum()
ugds_cumsum.head(10)

7116    151558.0
1189    229215.0
793     290685.0
3711    350605.0
3669    408689.0
725     460969.0
3880    510309.0
3765    557250.0
5817    602174.0
1299    646918.0
Name: ugds, dtype: float64

In [94]:
(ugds_cumsum < 5000000).sum() + 1

185

It takes the top 185 colleges (by population) to total more than 5 million students. Let's verify the results:

In [95]:
ugds_sort = college['ugds'].sort_values(ascending=False)

In [96]:
ugds_sort.iloc[:184].sum()

4989478.0

In [97]:
ugds_sort.iloc[:185].sum()

5007289.0

# 7. DataFrame Methods More

In [98]:
import pandas as pd
college = pd.read_csv('../data/college.csv', index_col='instnm')

### Problem 1
<span  style="color:green; font-size:16px">Find the number of missing values for each row.</span>

In [99]:
college.isna().sum(axis='columns').head(10)

instnm
Alabama A & M University               0
University of Alabama at Birmingham    0
Amridge University                     2
University of Alabama in Huntsville    0
Alabama State University               0
The University of Alabama              0
Central Alabama Community College      2
Athens State University                2
Auburn University at Montgomery        0
Auburn University                      0
dtype: int64

### Problem 2
<span  style="color:green; font-size:16px">What percentage of rows have more than 5 missing values?</span>

In [100]:
(college.isna().sum(axis='columns') > 5).mean()

0.09011280690112806

### Problem 3
<span  style="color:green; font-size:16px">How many total missing values are there in the entire DataFrame?</span>

In [101]:
college.isna().sum().sum()

24808

### Problem 4
<span  style="color:green; font-size:16px">Several of the columns contain binary data (are either 0 or 1). Can you identify the names of these columns?</span>

Start by finding the number of unique values of each column.

In [102]:
col_unique = college.nunique()
col_unique

city                  2514
stabbr                  59
hbcu                     2
menonly                  2
womenonly                2
relaffil                 2
satvrmid               163
satmtmid               167
distanceonly             2
ugds                  2932
ugds_white            4397
ugds_black            3242
ugds_hisp             2809
ugds_asian            1254
ugds_aian              601
ugds_nhpi              363
ugds_2mor              957
ugds_nra               920
ugds_unkn             1517
pptug_ef              3420
curroper                 2
pctpell               4422
pctfloan              4155
ug25abv               4285
md_earn_wne_p10        598
grad_debt_mdn_supp    2038
dtype: int64

Do boolean indexing to select just those that are binary.

In [103]:
col_unique[col_unique == 2]

hbcu            2
menonly         2
womenonly       2
relaffil        2
distanceonly    2
curroper        2
dtype: int64

Can extract the index to get just the names.

In [104]:
col_unique[col_unique == 2].index

Index(['hbcu', 'menonly', 'womenonly', 'relaffil', 'distanceonly', 'curroper'], dtype='object')

### Problem 5
<span  style="color:green; font-size:16px">Read the documentation on the `dropna` method. What is the shape of the returned DataFrame when called with the defaults? Call it again except only drop rows if `UGDS` is missing. What is the shape of this DataFrame?</span>

In [105]:
college.dropna().shape

(1171, 26)

Pandas forces you to use a list with the **`subset`** parameter. This is unfortunately inconsistent behavior.

In [106]:
college.dropna(subset=['ugds']).shape

(6874, 26)

### Problem 6
<span  style="color:green; font-size:16px">Create a new boolean column in the college named 'Verbal Higher' that is True for every college that has a verbal than math SAT score. Find the mean of this new column. Why does this number look suspiciously low?</span>

In [107]:
college['Verbal Higher'] = college['satvrmid'] > college['satmtmid']

In [108]:
college['Verbal Higher'].mean()

0.048042468480424684

One reason it is so low is that there are mostly missing values for the SAT columns and the comparison operators return False when comparing missing values. Notice that 84% of the values are missing for both SAT columns.

In [109]:
cols = ['satvrmid', 'satmtmid']
college[cols].isna().mean()

satvrmid    0.842734
satmtmid    0.841274
dtype: float64

### Problem 7
<span  style="color:green; font-size:16px">Find the real percentage of schools with higher verbal than math SAT scores.</span>

Drop the rows with missing SAT values first.

In [110]:
cols = ['satvrmid', 'satmtmid']
sat = college[cols].dropna()
sat.head()

                                     satvrmid  satmtmid
instnm
Alabama A & M University                424.0     420.0
University of Alabama at Birmingham     570.0     565.0
University of Alabama in Huntsville     595.0     590.0
Alabama State University                425.0     430.0
The University of Alabama               555.0     565.0

In [111]:
(sat['satvrmid'] > sat['satmtmid']).mean()

0.30574324324324326

Can also find all those school with equal scores in both subjects.

In [112]:
(sat['satvrmid'] == sat['satmtmid']).mean()

0.08699324324324324

## Use the flights dataset with the remainder of the problems

### Problem 8
<span  style="color:green; font-size:16px">Read in the flights dataset (`flights.csv`) and call `dropna` with the defaults. What kind of DataFrame was returned? Why? Verify that each row has at least one missing value.
</span>

In [113]:
flights = pd.read_csv('../data/flights.csv')

In [114]:
flights.dropna()

Empty DataFrame
Columns: [year, month, day, day_of_week, airline, flight_number, tail_number, origin_airport, destination_airport, scheduled_departure, departure_time, departure_delay, taxi_out, wheels_off, scheduled_time, elapsed_time, air_time, distance, wheels_on, taxi_in, scheduled_arrival, arrival_time, arrival_delay, diverted, cancelled, cancellation_reason, air_system_delay, security_delay, airline_delay, late_aircraft_delay, weather_delay]
Index: []

In [115]:
(flights.isna().sum(axis='columns') > 0).mean()

1.0

### Use the `all` method to verify that all values in a Series are True

In [116]:
(flights.isna().sum(axis='columns') > 0).all()

True

### Problem 9
<span  style="color:green; font-size:16px">Read the `dropna` docs again and keep rows that have at least 28 non-missing values. Verify the results.</span>

In [117]:
flights.dropna(thresh=28).shape

(11685, 31)

In [118]:
(flights.notna().sum(axis='columns') >= 28).sum()

11685

### Problem 10
<span  style="color:green; font-size:16px">Find the longest `arrival_delay` for every  airline for every month.</span>

In [119]:
cols = ['airline', 'month', 'arrival_delay']
airline_month_delay = flights[cols]
airline_month_delay.sort_values(by=cols, ascending=[True, True, False]) \
                   .drop_duplicates(subset=['airline', 'month']).head(20)

      airline  month  arrival_delay
179        AA      1          732.0
9381       AA      2          311.0
10820      AA      3          248.0
19639      AA      4          626.0
21263      AA      5          339.0
30868      AA      6          602.0
32218      AA      7          858.0
39170      AA      8          551.0
43207      AA      9          324.0
49165      AA     11          349.0
54764      AA     12          473.0
4743       AS      1          148.0
8007       AS      2          344.0
12094      AS      3           69.0
17886      AS      4           43.0
24093      AS      5          129.0
27418      AS      6           79.0
34149      AS      7           59.0
40607      AS      8           90.0
45683      AS      9           67.0