# Course Solutions

1. [Pandas Intro](#1.-Pandas-Intro)
1. [Setting a meaningful index](#2.-Setting-a-meaningful-index)
1. [Making the most of a Jupyter Notebook](#3.-Making-the-most-of-a-Jupyter-Notebook)
1. [Selecting Subsets of Data from DataFrames with just the brackets](#4.-Selecting-Subsets-of-Data-from-DataFrames-with-just-the-brackets)
1. [Selecting Subsets of Data from DataFrames with `.loc`](#5.-Selecting-Subsets-of-Data-from-DataFrames-with-.loc)
1. [Selecting Subsets of Data from DataFrames with `.iloc`](#6.-Selecting-Subsets-of-Data-from-DataFrames-with-.iloc)
1. [Selecting Subsets of Data - Series](#7.-Selecting-Subsets-of-Data---Series)

# 1. Pandas Intro

In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 40
bikes = pd.read_csv('../data/bikes.csv')

### Problem 1
<span  style="color:green; font-size:16px">Select the column **`events`**, the type of weather that was recorded and assign it to a variable with the same name. Output the first 10 values of it.</span>

In [2]:
events = bikes['events']
events.head(10)

0    mostlycloudy
1    partlycloudy
2    mostlycloudy
3    mostlycloudy
4    partlycloudy
5    mostlycloudy
6          cloudy
7          cloudy
8          cloudy
9    mostlycloudy
Name: events, dtype: object

### Problem 2
<span  style="color:green; font-size:16px">What type of object is **`events`**?</span>

In [3]:
# it's a Series
type(events)

pandas.core.series.Series

### Problem 3
<span  style="color:green; font-size:16px">Select the last 2 rows of the **`bikes`** DataFrame and assign it to the variable **`bikes_last_2`**. What type of object is **`bikes_last_2`**?</span>

In [5]:
# it's a DataFrame
bikes_last_2 = bikes.tail(2)
type(bikes_last_2)

pandas.core.frame.DataFrame

### Problem 4
<span  style="color:green; font-size:16px">What type of object is returned from the **`dtypes`** attribute?</span>

In [7]:
# a Series
type(bikes.dtypes)

pandas.core.series.Series

### Problem 5
<span  style="color:green; font-size:16px">What type of object is returned from the **`shape`** attribute?</span>

In [8]:
# a tuple of rows, columns
type(bikes.shape)

tuple

### Problem 6
<span  style="color:green; font-size:16px">What type of object is returned from the **`info`** method?</span>

The object **`None`** is returned. What you see is just output printed to the screen.

In [10]:
info_return = bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
trip_id              50089 non-null int64
usertype             50089 non-null object
gender               50089 non-null object
starttime            50089 non-null object
stoptime             50089 non-null object
tripduration         50089 non-null int64
from_station_name    50089 non-null object
latitude_start       50083 non-null float64
longitude_start      50083 non-null float64
dpcapacity_start     50083 non-null float64
to_station_name      50089 non-null object
latitude_end         50077 non-null float64
longitude_end        50077 non-null float64
dpcapacity_end       50077 non-null float64
temperature          50089 non-null float64
visibility           50089 non-null float64
wind_speed           50089 non-null float64
precipitation        50089 non-null float64
events               50089 non-null object
dtypes: float64(10), int64(2), object(7)
memory usage: 7.3+ MB

In [11]:
type(info_return)

NoneType

### Problem 7
<span  style="color:green; font-size:16px">The memory usage from the **`info`** method isn't correct when you have objects in your DataFrame. Read the docstrings from it and get the true memory usage.</span>

In [12]:
bikes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
trip_id              50089 non-null int64
usertype             50089 non-null object
gender               50089 non-null object
starttime            50089 non-null object
stoptime             50089 non-null object
tripduration         50089 non-null int64
from_station_name    50089 non-null object
latitude_start       50083 non-null float64
longitude_start      50083 non-null float64
dpcapacity_start     50083 non-null float64
to_station_name      50089 non-null object
latitude_end         50077 non-null float64
longitude_end        50077 non-null float64
dpcapacity_end       50077 non-null float64
temperature          50089 non-null float64
visibility           50089 non-null float64
wind_speed           50089 non-null float64
precipitation        50089 non-null float64
events               50089 non-null object
dtypes: float64(10), int64(2), object(7)
memory usage: 28.9 MB

# 2. Setting a meaningful index

# 3. Making the most of a Jupyter Notebook

# 4. Selecting Subsets of Data from DataFrames with just the brackets

In [72]:
movie = pd.read_csv('../data/movie.csv', index_col='title')

### Problem 1
<span  style="color:green; font-size:16px">Select the column with the director's name as a Series</span>

In [73]:
movie['director_name'].head()

title
Avatar                                            James Cameron
Pirates of the Caribbean: At World's End         Gore Verbinski
Spectre                                              Sam Mendes
The Dark Knight Rises                         Christopher Nolan
Star Wars: Episode VII - The Force Awakens          Doug Walker
Name: director_name, dtype: object

### Problem 2
<span  style="color:green; font-size:16px">Select the column with the director's name and number of Facebook likes.</span>

In [75]:
movie[['director_name', 'director_fb']].head()

                                                director_name  director_fb
title
Avatar                                          James Cameron          0.0
Pirates of the Caribbean: At World's End       Gore Verbinski        563.0
Spectre                                            Sam Mendes          0.0
The Dark Knight Rises                       Christopher Nolan      22000.0
Star Wars: Episode VII - The Force Awakens        Doug Walker        131.0

# 5. Selecting Subsets of Data from DataFrames with `.loc`

### Problem 1
<span  style="color:green; font-size:16px">Select all columns for the movie 'The Dark Knight Rises'.</span>

In [76]:
movie.loc['The Dark Knight Rises']

year                                                            2012
color                                                          Color
content_rating                                                 PG-13
duration                                                         164
director_name                                      Christopher Nolan
director_fb                                                    22000
actor1                                                     Tom Hardy
actor1_fb                                                      27000
actor2                                                Christian Bale
actor2_fb                                                      23000
actor3                                          Joseph Gordon-Levitt
actor3_fb                                                      23000
gross                                                    4.48131e+08
genres                                               Action|Thriller
num_reviews                                                      813
num_voted_users                                              1144337
plot_keywords      deception|imprisonment|lawlessness|police offi...
language                                                     English
country                                                          USA
budget                                                       2.5e+08
imdb_score                                                       8.5
Name: The Dark Knight Rises, dtype: object

### Problem 2
<span  style="color:green; font-size:16px">Select all columns for the movies 'Tangled' and 'Avatar'.</span>

In [77]:
movie.loc[['Tangled', 'Avatar']]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,M.C. Gainey,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9

### Problem 3
<span  style="color:green; font-size:16px">What year was 'Tangled' and 'Avatar' made and what was their IMBD scores?</span>

In [79]:
movie.loc[['Tangled', 'Avatar'], ['year', 'imdb_score']]

           year  imdb_score
title
Tangled  2010.0         7.8
Avatar   2009.0         7.9

### Problem 4
<span  style="color:green; font-size:16px">Can you tell what the data type of the `year` column is by just looking at its values?</span>

Yes, because it has a decimal value it must be a float. Integers do not have decimals

### Problem 5
<span  style="color:green; font-size:16px">Use a single method to output the data type and number of non-missing values of `year`. Is it missing any?</span>

In [80]:
# yes, its missing many values. 4432 non-missing vs 4916 total
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4916 entries, Avatar to My Date with Drew
Data columns (total 21 columns):
year               4810 non-null float64
color              4897 non-null object
content_rating     4616 non-null object
duration           4901 non-null float64
director_name      4814 non-null object
director_fb        4814 non-null float64
actor1             4909 non-null object
actor1_fb          4909 non-null float64
actor2             4903 non-null object
actor2_fb          4903 non-null float64
actor3             4893 non-null object
actor3_fb          4893 non-null float64
gross              4054 non-null float64
genres             4916 non-null object
num_reviews        4867 non-null float64
num_voted_users    4916 non-null int64
plot_keywords      4764 non-null object
language           4904 non-null object
country            4911 non-null object
budget             4432 non-null float64
imdb_score         4916 non-null float64
dtypes: float64(10), int64(1), object(10)
memory usage: 1004.9+ KB

### Problem 6
<span  style="color:green; font-size:16px">Select every 100th movie between 'Tangled' and 'Forrest Gump'. Why doesn't 'Forrest Gump' appear in the results?</span>

In [81]:
# Forrest Gump is not a multiple of 100 away from Tangled
movie.loc['Tangled':'Forrest Gump':100]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,M.C. Gainey,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Shrek the Third,2007.0,Color,PG,93.0,Chris Miller,50.0,Justin Timberlake,3000.0,Eric Idle,795.0,Rupert Everett,692.0,320706665.0,Adventure|Animation|Comedy|Family|Fantasy,227.0,211971,disney spoof|fairy tale|prince|princess|tough guy,English,USA,160000000.0,6.1
X-Men 2,2003.0,Color,PG-13,134.0,Bryan Singer,0.0,Hugh Jackman,20000.0,Bruce Davison,505.0,Aaron Stanford,346.0,214948780.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,289.0,405973,mutant|prison|professor|school|x men,English,Canada,110000000.0,7.5
Cloud Atlas,2012.0,Color,R,172.0,Tom Tykwer,670.0,Tom Hanks,15000.0,Jim Sturgess,5000.0,Jim Broadbent,1000.0,27098580.0,Drama|Sci-Fi,511.0,284825,composer|future|letter|nonlinear timeline|nurs...,English,Germany,102000000.0,7.5
Divergent,2014.0,Color,PG-13,139.0,Neil Burger,168.0,Kate Winslet,14000.0,Theo James,5000.0,Mekhi Phifer,1000.0,150832203.0,Adventure|Mystery|Sci-Fi,459.0,341058,army|brother sister relationship|dystopia|fath...,English,USA,85000000.0,6.7
Hidalgo,2004.0,Color,PG-13,136.0,Joe Johnston,394.0,J.K. Simmons,24000.0,Viggo Mortensen,10000.0,Peter Mensah,1000.0,67286731.0,Action|Adventure|Western,140.0,67856,arab|cowboy|horse|race|sheik,English,USA,100000000.0,6.7
Doom,2005.0,Color,R,113.0,Andrzej Bartkowiak,43.0,Dwayne Johnson,12000.0,Ben Daniels,585.0,Dexter Fletcher,452.0,28031250.0,Action|Adventure|Horror|Sci-Fi,237.0,88146,commando unit|extra chromosome|first person sh...,English,UK,60000000.0,5.2
Gone Girl,2014.0,Color,R,149.0,David Fincher,21000.0,Patrick Fugit,835.0,Sela Ward,812.0,Emily Ratajkowski,625.0,167735396.0,Crime|Drama|Mystery|Thriller,568.0,569841,based on novel|disappearance|missing person|mi...,English,USA,61000000.0,8.1
"Sabrina, the Teenage Witch",NaN,Color,TV-G,22.0,NaN,NaN,Nate Richert,870.0,Soleil Moon Frye,558.0,Caroline Rhea,271.0,NaN,Comedy|Family|Fantasy,20.0,24420,female protagonist|hereditary gift of witchcra...,English,USA,3000000.0,6.6

# 6. Selecting Subsets of Data from DataFrames with `.iloc`

### Problem 1
<span  style="color:green; font-size:16px">Select the rows with integer location 10, 5, and 1</span>

In [82]:
movie.iloc[[10, 5, 1]]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Batman v Superman: Dawn of Justice,2016.0,Color,PG-13,183.0,Zack Snyder,0.0,Henry Cavill,15000.0,Lauren Cohan,4000.0,Alan D. Purwin,2000.0,330249062.0,Action|Adventure|Sci-Fi,673.0,371639,based on comic book|batman|sequel to a reboot|...,English,USA,250000000.0,6.9
John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,632.0,Polly Walker,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1

### Problem 2
<span  style="color:green; font-size:16px">Select the columns with integer location 10, 5, and 1</span>

In [83]:
movie.iloc[:, [10, 5, 1]].head()

,actor3,director_fb,color
title,,,
Avatar,Wes Studi,0.0,Color
Pirates of the Caribbean: At World's End,Jack Davenport,563.0,Color
Spectre,Stephanie Sigman,0.0,Color
The Dark Knight Rises,Joseph Gordon-Levitt,22000.0,Color
Star Wars: Episode VII - The Force Awakens,NaN,131.0,NaN

### Problem 3
<span  style="color:green; font-size:16px">Select rows with integer location 100 to but not including 105 along with the column integer location 5.</span>

In [84]:
movie.iloc[100:105, 5]

title
The Fast and the Furious                   357.0
The Curious Case of Benjamin Button      21000.0
X-Men: First Class                         905.0
The Hunger Games: Mockingjay - Part 2      508.0
The Sorcerer's Apprentice                  226.0
Name: director_fb, dtype: float64

# 7. Selecting Subsets of Data - Series

### Problem 1
<span  style="color:green; font-size:16px">Read in the bikes dataset. We will be using it for the next few questions. Select the wind speed column as a Series and assign it to a variable and output the head. What kind of index does this Series have?</span>

In [36]:
bikes = pd.read_csv('../data/bikes.csv')
bikes.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [38]:
wind = bikes['wind_speed']
wind.head()

0    12.7
1     6.9
2    16.1
3    16.1
4    17.3
Name: wind_speed, dtype: float64

This index is a **`RangeIndex`**

In [39]:
wind.index

RangeIndex(start=0, stop=50089, step=1)

In [42]:
wind.loc[4:10]

4     17.3
5     17.3
6     15.0
7      5.8
8      0.0
9     12.7
10     9.2
Name: wind_speed, dtype: float64

### Problem 2
<span  style="color:green; font-size:16px">From the wind speed Series, select the integer locations 4 through, but not including 10</span>

In [43]:
wind.iloc[4:10]

4    17.3
5    17.3
6    15.0
7     5.8
8     0.0
9    12.7
Name: wind_speed, dtype: float64

### Problem 3
<span  style="color:green; font-size:16px">Copy and paste your answer to problem 2 below but use `.loc` instead. Do you get the same result? Why not?</span>

In [44]:
wind.loc[4:10]

4     17.3
5     17.3
6     15.0
7      5.8
8      0.0
9     12.7
10     9.2
Name: wind_speed, dtype: float64

This is tricky - the index in this case contains integers and not strings. So the labels themselves are also integers and happen to be the same integers corresponding to integer location. The reason `.iloc` and `.loc` produce different results is that `.loc` always includes the last value when slicing.

### Problem 4
<span  style="color:green; font-size:16px">Read in the movie dataset and set the index to be the title. Select `actor1` as a Series. Who is the `actor1` for 'My Big Fat Greek Wedding'?</span>

In [88]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
actor1 = movie['actor1']

In [89]:
actor1.loc['My Big Fat Greek Wedding']

'Nia Vardalos'

### Problem 5
<span  style="color:green; font-size:16px">Find `actor1` for your favorite two movies?</span>

In [91]:
actor1.loc[['Titanic', 'Blood Diamond']]

title
Titanic          Leonardo DiCaprio
Blood Diamond    Leonardo DiCaprio
Name: actor1, dtype: object

### Problem 6
<span  style="color:green; font-size:16px">Select the last 10 values from `actor1` using two different ways?</span>

In [92]:
actor1.iloc[-10:]

title
Primer                       Shane Carruth
Cavite                         Ian Gamazon
El Mariachi                Carlos Gallardo
The Mongol King             Richard Jewell
Newlyweds                      Kerry Bishé
Signed Sealed Delivered        Eric Mabius
The Following                  Natalie Zea
A Plague So Pleasant           Eva Boehnke
Shanghai Calling                 Alan Ruck
My Date with Drew              John August
Name: actor1, dtype: object

In [93]:
actor1.tail(10)

title
Primer                       Shane Carruth
Cavite                         Ian Gamazon
El Mariachi                Carlos Gallardo
The Mongol King             Richard Jewell
Newlyweds                      Kerry Bishé
Signed Sealed Delivered        Eric Mabius
The Following                  Natalie Zea
A Plague So Pleasant           Eva Boehnke
Shanghai Calling                 Alan Ruck
My Date with Drew              John August
Name: actor1, dtype: object