In [1]:
3+4

7

In [2]:
a = 5
type(a)

int

In [3]:
type(True)

bool

In [4]:
type(3.4)

float

# Strings

In [5]:
s = 'some sequence of char'

## dot notation

In [6]:
s.upper()

'SOME SEQUENCE OF CHAR'

In [7]:
s.count('e')

4

## String cancatenation

In [8]:
'some' + 'string'

'somestring'

In [10]:
s1 = 'some'
s1+s

'somesome sequence of char'

## String selection

In [12]:
s[7]

'q'

In [13]:
s[10:17]

'nce of '

In [14]:
s[2:17:3] # jump by 3 from 2to17

'msuco'

## String is immutable

In [15]:
s[4] = 'R'

TypeError: 'str' object does not support item assignment

In [16]:
type(sum)

builtin_function_or_method

In [17]:
del sum

NameError: name 'sum' is not defined

# List

In [18]:
a = [1, 3, 5, 6] # typically homogeneous data

In [19]:
type(a)

list

In [21]:
a.index(3) # where 3 located

1

In [22]:
a.index(99)

ValueError: 99 is not in list

In [23]:
a.insert(3, 999) # insert 999 at the third location, index started from 0

In [24]:
a

[1, 3, 5, 999, 6]

In [26]:
a[3] # List selection

999

In [27]:
a[3:5]

[999, 6]

In [29]:
a[0] = -55 # assign new items to the list, element is over written and changed
print(a)

[-55, 3, 5, 999, 6]

In [ ]:
a.append()

In [32]:
a = range(10)
print(a)

range(0, 10)

In [31]:
type(a)

range

In [34]:
a = range(10**6)
print(a)

range(0, 1000000)

# Control Flow

In [ ]:
a = 5 
a = a - 3 
b = a - 10 # program in order

control is to change the order

## If statement

In [37]:
if 10>5:
    print('yes')
    print('more stuff here')
a = 3
a + 6

yes
more stuff here

9

In [39]:
# if else
a = 10
b = 5
if a > b:
    print(f'{b} is smaller than to {a}')
    print('more stuff here')
else:
    print(f'{b} is greater or equal to {a}')

5 is smaller than to 10
more stuff here

In [40]:
# elif
a = 10
b = 10
if a > b:
    print(f'{b} is smaller than to {a}')
    print('more stuff here')
elif a == b: 
    print(f'{b} is equal to {a}')
else:
    print(f'{b} is greater than to {a}')

10 is equal to 10

## For loop

In [43]:
'''
for loop_v in sequence:
    do something
'''

'\nfor loop_v in sequence:\n    do something\n'

In [45]:
for i in range(10):
    print(i, i * i)
a = 10 
a + 5

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

15

## While loop

In [ ]:
while conditon:
    do something

In [49]:
# do something until stop the conditon
balance = 10 ** 4
years = 0
interest = 0.04
retirement = 10 ** 6

while balance < retirement:
    balance = balance * (1 + interest)
    years = years + 1
print(f'It will take {years} years for a balance of {balance} '
     f'to reach {retirement}')

It will take 118 years for a balance of 1023137.5814003035 to reach 1000000

# Functions

In [50]:
def years_to_retirement(balance, retirement, interest):
    years = 0
    while balance < retirement:
        balance = balance * (1 + interest)
        years = years + 1
    return years  # always return something in a function

a = 5

In [51]:
years_to_retirement(10 ** 4, 10 ** 6, 0.04)

118

## built-in functions

In [ ]:
len

## Anoymous Functions

* only works for one line functions
* no return statement needed
* no parentheses for parameters

In [52]:
def square(x):
    return x ** 2
square(10)

100

In [53]:
square2 = lambda x: x ** 2
square2(10)

100

# Tuples - immutable, hetergeneous data

In [56]:
t = (5, 'ted', False)
print(t)

(5, 'ted', False)

In [55]:
type(t)

tuple

In [57]:
t[1] = 'amy'

TypeError: 'tuple' object does not support item assignment

# Sets
do not allow for duplicates

In [58]:
s = {3, 10, 'amy', 3}

In [59]:
s

{10, 3, 'amy'}

In [60]:
s[0]

TypeError: 'set' object does not support indexing

# Dictionaries - used everywhere
* declare with curly braces
* collection of key: pairs seperate by commas

In [64]:
c = {'a': 1, 'c' : 3}

In [65]:
print(type(c))
print(c)

<class 'dict'>
{'a': 1, 'c': 3}