# 1. Pandas Intro

### Objectives
After this lesson you should be able to...

+ Get help by knowing your object, reading documentation and using inline commands
+ Know why Pandas is more suitable for data analysis than Python lists
+ Know the anatomy of a DataFrame and a Series
+ Identify a Series as a single dimensional data structure with an **index** and **values**
+ Identify a DataFrame as a two dimensional data structure with an **index**, **columns**, and **values**
+ Know the difference between an **index** and **values**
+ Know all the possible column data types
+ Know that each value in a column must be of the same data type
+ Know the representations of missing values and which ones are used for each data type
+ Know how to get metadata with **`info`**, **`shape`**, and **`size`**

### Prepare for this lesson by...

+ Read the [Package Overview](http://pandas.pydata.org/pandas-docs/stable/overview.html)
+ Read [Intro to Data Structures](http://pandas.pydata.org/pandas-docs/stable/dsintro.html) - **just the Series and DataFrame sections**

# Welcome to ....
![][1]


### What is Pandas?
Pandas is one of the better open source data exploration libraries currently available. It gives the user power to explore, manipulate, query, aggregate, and visualize **tabular** data. Tabular meaning data that is two dimensional with rows and columns, i.e. a table.

### Why Pandas and not xyz?
In this current age of data explosion, there are now many dozens of other tools that can do many, if not more, than what the Pandas library can do. However, there are many aspects of Pandas that set it apart and it continues to have one of the fastest growing user bases.

* It's a Python library, which makes it easy to read, easy to develop, and easily integrates with other popular data science libraries like numpy, scikit-learn, statsmodels, matplotlib and seaborn.
* It is nearly self-contained in that lots of functionality is built into one package. This contrasts with R, where many packages are needed to obtain the same functionality.
* The community is amazing. Looking at Stack Overflow, for example, there are [many ten's of thousands of][2] Pandas questions. SAS, a multi-billion dollar revenue analytics software maker has only a fraction of the questions. This is one huge benefit of open source in general. If you need help, you are nearly guaranteed to find it very quickly. After a while most of your questions will be answered in the top few search engine results.

### Why is it named after an east Asian bear?

Pandas was built by Wes McKinney beginning in 2008 at a hedge fund named AQR. Finance speak is to call tabular data 'panel data' which smashed together becomes Pandas. If you are really interested in the history, you can hear it from the creator [himself][3].

### Python already has data structures to handle data, why do we need another one?
Even though Python itself is a high level language, its primary built-in data structures - lists and dicts - do not easily lend themselves to tabular data in ways that humans can operate on them. Just summing items in a list can be quite slow.

### NumPy
NumPy ('numerical Python') is the most popular third-party Python library for scientific computing and forms the foundation for dozens of others, including Pandas. NumPy's primary data structure is an n-dimensional array which is much more powerful than a Python list and with much better performance.

### Pandas is built directly on NumPy
All of the data in Pandas is stored in NumPy arrays. That said, it isn't necessary to know much about NumPy when learning Pandas. You can think of Pandas as a higher-level, easier to use interface to doing data analysis than NumPy. It is a good idea to eventually learn NumPy, but for most tasks, Pandas will be the right tool.

### NumPy vs built-in list performance difference
Let's see the performance difference between summing a NumPy array with one million elements vs a built-in list with the same number of elements.

[1]: images/pandas.png
[2]: http://stackoverflow.com/questions/tagged/pandas
[3]: https://www.youtube.com/watch?v=kHdkFyGCxiY

In [ ]:
# create a list of 1 million integers
n = 1000000
my_list = list(range(n))

### Timing Code Execution with %timeit
**`%timeit`** is a magic command that times the execution of a the first statement in a particular cell. The option **`-r`** controls the number of runs and **`-n`** controls the number of iterations with each run.

In [ ]:
%timeit -r 3 -n 5 sum(my_list)

#### Compare to NumPy array
We will import NumPy, create an array with the same elements with the **`arange`** function, and time its summation.

In [ ]:
import numpy as np

In [ ]:
# create array with arange function.
array = np.arange(n)
array

In [ ]:
%timeit -r 3 -n 5 array.sum()

### Performance difference
Using the built-in **`sum`** function with a list took approximately 10 times longer than using NumPy's array and this was just a simple sum of a list of numbers. This difference increases with the complexity of the operation performed on the data.

### Why is NumPy so fast?
NumPy array operations are executed in pre-compiled C code which makes for much faster execution times. A Python list, in contrast, must be iterated through at run-time, can take any number of different types so is not optimized for large numerical computations. 

### Why not NumPy?
Though NumPy is fast and can handle most of our data needs, it is still relatively low-level. Pandas allows easier access to rows and columns, powerful statistical functionality, heterogeneous data, enhanced merging and grouping, and many more data manipulation abilities. 

More info on NumPy can be found [in the official documentation][2]. We will be using some NumPy directly in this course.

### More on magic commands
iPython comes with handy dandy magic commands that give you some great extra functionality. The one I use the most is **`timeit`** which times the length of the operation. Magic commands are not Python syntax and only within iPython or Jupyter notebooks. 

Precede the command by `%` for a single line magic and `%%` for entire cell magic. See the [documentation][1] for a huge list of more magic commands.

There is even a magic command to list all the magic commands - see below:

[1]: http://ipython.readthedocs.io/en/stable/interactive/magics.html
[2]: https://docs.scipy.org/doc/numpy/user/index.html

In [ ]:
# view all the iPython magic commands
%lsmagic

# Pandas uses tabular (table) data

There are numerous formats for data such as XML, JSON, raw bytes, and many others. But, for our purposes, we will only be examining what everyone thinks of when the they think of data - a table. Pandas is built just for analyzing this tabular, rectangular, very deceptively normal concept of data. 

There are two primary Pandas objects that account for nearly everything we will be covering. 

### Series and the DataFrame

The **Series** is a single dimension of data. Think of a one dimensional array.

The **DataFrame** is our two-dimensional data structure that looks like any other table of data you have seen with rows and columns.

# Import Pandas and read in data
By convention pandas is imported and aliased as **`pd`**. We will read in the **`bikes`** dataset with the **`read_csv`** function. Its first parameter is the location of the file relative to the current directory. All the data for this class is stored in the **`data`** directory one level above where this notebook is located. 

The two dots in the path passed to **`read_csv`** are interpreted as the directory immediately above the current one.

In [34]:
import pandas as pd # one lib (eg: Pandas) may consisit of a lot of libraries. PANDAS is a 3rd party libr + many tools. 
#bikes = pd.read_csv('../data/bikes.csv', parse_dates = ['startime', 'stoptime']) 
bikes = pd.read_csv('../data/bikes.csv') 
#referencing pandas here pd. , which means read_csv is in the pandas library

## Display DataFrame in Jupyter Notebook
We assigned the output from the **`read_csv`** function to the **`bikes`** variable which is now our DataFrame. Display it by putting the variable name as the last line in a code cell.

In [8]:
bikes.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

## Default output
Pandas defaults to outputting 60 rows and 20 columns. These display options (and many others) can be changed and will be shown later.

## Our first methods, `head`, and `tail`
A very useful and simple method is **`head`**, which by default will return the first 5 rows of the DataFrame. This avoids the long default output and something I highly recommend. The **`tail`** method returns the last 5 rows by default.

In [ ]:
bikes.head()

In [ ]:
bikes.tail()

## First and Last `n` rows
Both the **`head`** and **`tail`** methods take a single parameter **`n`** which control the number of rows to return:

In [ ]:
bikes.head(8)

In [35]:
bikes.dtypes

trip_id                int64
usertype              object
gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
latitude_start       float64
longitude_start      float64
dpcapacity_start     float64
to_station_name       object
latitude_end         float64
longitude_end        float64
dpcapacity_end       float64
temperature          float64
visibility           float64
wind_speed           float64
precipitation        float64
events                object
dtype: object

# Components of a DataFrame - Columns, Index, and Data
The DataFrame is composed of three separate components that you must know. The **Columns**, the **Index**, and the **Data**. These terms will be used throughout the course and understanding them is vital to your ability to use Pandas.

Take a look at the following graphic of our bikes DataFrame stylized to put emphasis on each component.

![][1]

* The **index** labels the rows
* The **columns** label the columns
* The **index** is also referred to as the **row names/labels**
* The **columns** are also referred to as the **column names/lables** or the **column index**
* An individual element of the index is referred to as an **index label/name** or **row label/name**
* An individual element of the columns is a **column name/label**
* The index and the columns are always in **bold font**
* Collectively the index and the columns are known as the **axes** (or individually as an **axis**)
* Pandas uses integers to refer to each axis. **0** for the index and **1** for the columns. This is borrowed directly from NumPy
* The actual **data** is always in normal font
* Data is also referred to as the **values**


[1]: images/df_components.png

# What type of object is `bikes`
As we said previously **`bikes`** is a DataFrame. Let's verify this:

In [ ]:
type(bikes)

### Fully-qualified name
Remember that only the word after the last dot is the class name. The **`bikes`** variable has type **`DataFrame`**. Python always returns the location and module name of where the class was defined. 

### Location and module name?
The fully-qualified name holds the location in your computer where the class is defined. In this example, **`pandas`** is a directory that contains another directory **`core`** which contains a file **`frame.py`** which defines the **`DataFrame`** class.

### Package, sub-package, and module
The top level directory of other files and directories containing Python files is technically called a **package**. In this example **`pandas`** is the package. All directories within the package are called **sub-packages** such as **`core`**. All Python files (those ending in .py) are called **modules**.

### Where are the packages located?
Third-party packages are installed in the **`site-packages`** directory which itself is set up during Python installation. We can get the actual location with the help of the built-in **`site`** module's **`getsitepackages`** function.

In [ ]:
import site

In [ ]:
site.getsitepackages()

# Select a single column from a DataFrame - a Series
To select a single column from a DataFrame, pass the name of one of the columns to the indexing operator, **`[]`**. The returned object will be a Pandas Series. Let's choose the column name **`tripduration`**, assign it to a variable, and output it to the screen.

In [ ]:
trip_duration = bikes['tripduration']
trip_duration

# `head` and `tail` methods work the same with a Series
Use the **`head`** and **`tail`** methods to condense the output.

In [ ]:
trip_duration.tail(3)

# Components of a Series - Index and Data
A Series is simpler than a DataFrame with just a single dimension of data. It has two components - the **index** and the **data**. It is essentially a one-column DataFrame. Let's take a look at a stylized Series graphic.

![](images/series_components.png)

The definition for the index and data components are the same as they are for a DataFrame.

### Output of Series vs DataFrame
Notice that there is no nice HTML styling for the Series. It's just plain text. Also, below each Series will be some metadata on it - the **name**, **length**, and **dtype**. 

* The **name** is not important right now, but if the Series is formed from a column of a DataFrame it will be set to that column name.
* The **length** is simply the number of values in the Series
* The **dtype** is the data type of the Series. Each column of data must be of only one particular data type. These will be covered in depth later.

It's important to note that this metadata is NOT part of the Series itself and just some extra info Pandas outputs for your information.

# Data  Types 
Each column of data in Pandas DataFrame has a **data type**. This is a very similar concept to types in Python. Just like every object has a type, every column has a data type. Every value in each column must be of the same data type.

## Most Common Data Types
The following are the most common data types that appear frequently in DataFrames. 

* **Boolean**
* **Integer**
* **Float**
* **Object** (mainly strings)
* **DateTime** (a specific moment in time)

### Other Data Types
There are three other data types that are less common. We will cover them when necessary.

* **Category**
* **TimeDelta** (a specific amount of time)
* **Period** (a specific time period)

### More on the primary data types

#### Boolean
Boolean columns contain only two values: **`True`** and **`False`**

#### Integer
Whole numbers without a decimal

#### Float
Numbers with decimals

#### Object

When Pandas deal with text data, usually it's a string column.

This object data type is a bit confusing. It means that each value in the column can be any valid Python object. But, nearly all of the time, object data type columns contain **strings**. They can contain any other Python object such as integers, floats, or even complex types such as lists or dictionaries.

When you see **object** as a data type you should think of **string**.

#### DateTime
A DateTime is a specific moment in time with both a **date** (month, year, day) and a **time** (hour, minute, second, fraction of a second). All DateTimes in Pandas have nanosecond precision - 1 billionth of a second.

# Missing Values
Missing value representation is actually a fairly complex issue. If you are curious you can read a [small manifesto][1] on it from the NumPy developers.

## Missing Value Representation, `NaN`,  `None`, and `NaT`
Pandas represents missing values differently based on the data type of the column.

### Where do these missing values come from?
* **`NaN`** stands for **not a number** and is technically a floating point value
* **`None`** is the literal Python object **`None`**. This will only be found in **object** columns
* **`NaT`** stands for not a time and is used for missing values in DateTime, TimeDelta, and Period columns

### Missing values for each data type
**Booleans and integers** do not have any representation for missing values. This is unfortunate, but a current limitation. If you have booleans or integers in your data that have missing values they will be coerced to floats.

**Floats** use only **`NaN`** as the missing value.  

**Object** can be any valid Python object so technically you may see **`NaN`**, **`None`**, or **`NaT`** but primarily you will see **`None`** used in object columns.

**Datetime**, **TimeDelta**, **Period** will only use **`NaT`** as the missing value.

# Finding the data types of each column
The **`dtypes`** DataFrame method returns the data type of each column. Let's get the data types of our **`bikes`** DataFrame.

[1]: https://docs.scipy.org/doc/numpy/neps/missing-data.html

In [ ]:
bikes.dtypes

# Think string whenever you see object
Pandas does not have a string data type like most databases but when you see **object** you should assume that the column consists entirely of strings.

# Why are `starttime` and `stoptime` object data types?
If you look at the output of the **`bikes`** DataFrame, it's apparent that both the **`starttime`** and **`stoptime`** columns are DateTimes but our last output from above is stating that they are objects.

When reading in a text file like we did with **`bikes.csv`** it's impossible for Pandas to know the data type of each column so it makes assumptions as it's reading it in. We can force Pandas to read these columns as DateTimes with the **`parse_dates`** parameter of the **`read_csv`** function. We must pass it a list of the columns we would like to make datetimes.

Let's re-read the data:

In [31]:
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime', 'stoptime'])

In [32]:
bikes.dtypes

trip_id                       int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start            float64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end              float64
temperature                 float64
visibility                  float64
wind_speed                  float64
precipitation               float64
events                       object
dtype: object

# What are all those 64's at the end of the data types?
Integers, floats, DateTimes and TimeDeltas all use a particular amount of memory for each of their values. The memory is measured in **`bits`**. By default Pandas uses 64 bits to represent integers, floats, DateTimes, and TimeDeltas. It is possible to use a different number of bits for integers and floats. 

Integers can be either 8, 16, 32, or 64 bits while floats can be 16, 32, 64, or 128. For instance, a 128-bit float column will show up as **`float128`**. 

Technically a **`float128`** is a different data type than a **`float64`** but generally you will never have to worry about such a distinction as the operations between different float columns will be the same. It's also very rare to see anything other than 64 bit integer or floats since that is the default and you would need to manually change their size to get a different type.

**Booleans** are stored as a 8-bits, also known as a single **byte**. DateTimes and TimeDeltas are always stored as 64-bits. **Objects** can store any Python object, so there is no set amount of memory for each of their values.

# Getting more Metadata
Metadata is data on the data. The data type of each column is an example of **metadata**. The number of rows and columns is another piece of metadata. We find this with the **`shape`** attribute:

In [ ]:
bikes.shape

### Total number of elements with `size` attribute
The **`size`** attribute returns the total number of elements (the number of columns multiplied by the number of rows):

In [ ]:
bikes.size

### Get Data Types plus more with the `info` method
The **`info`** DataFrame method retuns output similar to **`dtypes`** but also returns the number of non-missing values in each column along with more info such as the 
* Type of object (always a DataFrame)
* The type of index and number of rows
* The number of columns
* The data types of each column and the number of non-missing (a.k.a non-null)
* The frequency count of all data types
* The total memory usage

In [ ]:
bikes.info()

# Exercises
Use the **`bikes`** DataFrame for the following:

### Problem 1
<span  style="color:green; font-size:16px">Select the column **`events`**, the type of weather that was recorded and assign it to a variable with the same name. Output the first 10 values of it.</span>

In [20]:
# your code here
event = bikes['events']
print(event.head(10))

0    mostlycloudy
1    partlycloudy
2    mostlycloudy
3    mostlycloudy
4    partlycloudy
5    mostlycloudy
6          cloudy
7          cloudy
8          cloudy
9    mostlycloudy
Name: events, dtype: object

### Problem 2
<span  style="color:green; font-size:16px">What type of object is **`events`**?</span>

In [14]:
# your code here
#bikes['events'].dtype
type(bikes['events'])

pandas.core.series.Series

### Problem 3
<span  style="color:green; font-size:16px">Select the last 2 rows of the **`bikes`** DataFrame and assign it to the variable **`bikes_last_2`**. What type of object is **`bikes_last_2`**?</span>

In [18]:
# your code here
bikes_last_2 = bikes.tail(2)

### Problem 4
<span  style="color:green; font-size:16px">What type of object is returned from the **`dtypes`** attribute?</span>

In [26]:
# your code here
print(type(bikes.dtypes))
print(bikes.dtypes)

<class 'pandas.core.series.Series'>
trip_id                int64
usertype              object
gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
latitude_start       float64
longitude_start      float64
dpcapacity_start     float64
to_station_name       object
latitude_end         float64
longitude_end        float64
dpcapacity_end       float64
temperature          float64
visibility           float64
wind_speed           float64
precipitation        float64
events                object
dtype: object

### Problem 5
<span  style="color:green; font-size:16px">What type of object is returned from the **`shape`** attribute?</span>

In [27]:
# your code here
print(bikes.shape)
print(type(bikes.shape))

(50089, 19)
<class 'tuple'>

### Problem 6
<span  style="color:green; font-size:16px">What type of object is returned from the **`info`** method?</span>

In [28]:
# your code here
type(bikes.info)

method

In [29]:
type(bikes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
trip_id              50089 non-null int64
usertype             50089 non-null object
gender               50089 non-null object
starttime            50089 non-null object
stoptime             50089 non-null object
tripduration         50089 non-null int64
from_station_name    50089 non-null object
latitude_start       50083 non-null float64
longitude_start      50083 non-null float64
dpcapacity_start     50083 non-null float64
to_station_name      50089 non-null object
latitude_end         50077 non-null float64
longitude_end        50077 non-null float64
dpcapacity_end       50077 non-null float64
temperature          50089 non-null float64
visibility           50089 non-null float64
wind_speed           50089 non-null float64
precipitation        50089 non-null float64
events               50089 non-null object
dtypes: float64(10), int64(2), object(7)
memory usage: 7.3+ MB

NoneType

In [33]:
bikes.info

<bound method DataFrame.info of         trip_id    usertype  gender           starttime            stoptime  \
0          7147  Subscriber    Male 2013-06-28 19:01:00 2013-06-28 19:17:00
1          7524  Subscriber    Male 2013-06-28 22:53:00 2013-06-28 23:03:00
2         10927  Subscriber    Male 2013-06-30 14:43:00 2013-06-30 15:01:00
3         12907  Subscriber    Male 2013-07-01 10:05:00 2013-07-01 10:16:00
4         13168  Subscriber    Male 2013-07-01 11:16:00 2013-07-01 11:18:00
5         13595  Subscriber    Male 2013-07-01 12:37:00 2013-07-01 12:48:00
6         18880  Subscriber    Male 2013-07-02 17:47:00 2013-07-02 17:56:00
7         19689  Subscriber    Male 2013-07-03 09:07:00 2013-07-03 09:16:00
8         21028  Subscriber    Male 2013-07-03 15:21:00 2013-07-03 15:42:00
9         23558  Subscriber  Female 2013-07-04 15:00:00 2013-07-04 15:16:00
10        24383  Subscriber    Male 2013-07-04 17:17:00 2013-07-04 17:42:00
11        24673  Subscriber    Male 2013-07-04 18:13:00 2013-07-04 18:42:00
12        26214  Subscriber    Male 2013-07-05 10:02:00 2013-07-05 10:40:00
13        30404  Subscriber    Male 2013-07-06 09:43:00 2013-07-06 10:06:00
14        31121  Subscriber  Female 2013-07-06 12:39:00 2013-07-06 12:49:00
15        33998  Subscriber    Male 2013-07-07 00:06:00 2013-07-07 00:13:00
16        38628  Subscriber    Male 2013-07-08 17:06:00 2013-07-08 17:14:00
17        38729  Subscriber    Male 2013-07-08 17:33:00 2013-07-08 17:44:00
18        40924  Subscriber    Male 2013-07-09 13:12:00 2013-07-09 14:42:00
19        40879  Subscriber    Male 2013-07-09 13:14:00 2013-07-09 13:20:00
20        42488  Subscriber  Female 2013-07-09 17:39:00 2013-07-09 17:55:00
21        42818  Subscriber  Female 2013-07-09 19:26:00 2013-07-09 19:38:00
22        43804  Subscriber  Female 2013-07-10 09:18:00 2013-07-10 09:33:00
23        45077  Subscriber  Female 2013-07-10 12:34:00 2013-07-10 12:46:00
24        46108  Subscriber  Female 2013-07-10 16:35:00 2013-07-10 16:44:00
25        47798  Subscriber  Female 2013-07-11 08:17:00 2013-07-11 08:31:00
26        51130  Subscriber    Male 2013-07-12 01:07:00 2013-07-12 01:24:00
27        51210  Subscriber    Male 2013-07-12 06:53:00 2013-07-12 07:00:00
28        51823  Subscriber    Male 2013-07-12 10:01:00 2013-07-12 10:02:00
29        52547  Subscriber    Male 2013-07-12 12:23:00 2013-07-12 12:28:00
...         ...         ...     ...                 ...                 ...
50059  17525739  Subscriber    Male 2017-12-23 15:28:00 2017-12-23 15:34:00
50060  17525743  Subscriber    Male 2017-12-23 15:31:00 2017-12-23 15:38:00
50061  17526542  Subscriber  Female 2017-12-24 07:56:00 2017-12-24 07:59:00
50062  17527722  Subscriber    Male 2017-12-25 18:31:00 2017-12-25 18:38:00
50063  17528311  Subscriber    Male 2017-12-26 13:27:00 2017-12-26 13:35:00
50064  17528461  Subscriber    Male 2017-12-26 15:09:00 2017-12-26 15:19:00
50065  17528527  Subscriber    Male 2017-12-26 15:49:00 2017-12-26 15:56:00
50066  17528614  Subscriber    Male 2017-12-26 16:34:00 2017-12-26 16:46:00
50067  17529175  Subscriber    Male 2017-12-27 06:05:00 2017-12-27 06:07:00
50068  17529292  Subscriber    Male 2017-12-27 07:46:00 2017-12-27 08:00:00
50069  17529402  Subscriber    Male 2017-12-27 08:34:00 2017-12-27 08:38:00
50070  17530881  Subscriber    Male 2017-12-27 20:02:00 2017-12-27 20:06:00
50071  17530946  Subscriber  Female 2017-12-27 21:08:00 2017-12-27 21:22:00
50072  17531067  Subscriber    Male 2017-12-28 06:16:00 2017-12-28 06:22:00
50073  17531700  Subscriber    Male 2017-12-28 10:27:00 2017-12-28 10:34:00
50074  17532063  Subscriber    Male 2017-12-28 13:08:00 2017-12-28 13:13:00
50075  17532624  Subscriber    Male 2017-12-28 17:03:00 2017-12-28 17:07:00
50076  17533419  Subscriber    Male 2017-12-29 08:42:00 2017-12-29 08:48:00
50077  17533484  Subscriber    Male 2017-12-29 09:13:00 2017-12-29 09:53:00
50078  17533656  Subscriber  Female 2017-12-29 11:14:00 2017-12-29 11:28:00
50079  17533757  Subscriber    Male 2017-12-29 12:08:00 2017-12-29 12:12:00
50080  17534057  Subscriber    Male 2017-12-29 15:28:00 2017-12-29 15:51:00
50081  17534131  Subscriber    Male 2017-12-29 16:09:00 2017-12-29 16:19:00
50082  17534773  Subscriber    Male 2017-12-30 10:47:00 2017-12-30 10:53:00
50083  17534831  Subscriber    Male 2017-12-30 11:36:00 2017-12-30 11:55:00
50084  17534938  Subscriber    Male 2017-12-30 13:07:00 2017-12-30 13:34:00
50085  17534969  Subscriber    Male 2017-12-30 13:34:00 2017-12-30 13:44:00
50086  17534972  Subscriber    Male 2017-12-30 13:34:00 2017-12-30 13:48:00
50087  17535645  Subscriber  Female 2017-12-31 09:30:00 2017-12-31 09:33:00
50088  17536246  Subscriber    Male 2017-12-31 15:22:00 2017-12-31 15:26:00

       tripduration                from_station_name  latitude_start  \
0               993        Lake Shore Dr & Monroe St       41.881050
1               623     Clinton St & Washington Blvd       41.883380
2              1040     Sheffield Ave & Kingsbury St       41.909592
3               667          Carpenter St & Huron St       41.894556
4               130           Damen Ave & Pierce Ave       41.909396
5               660         California Ave & 21st St       41.854016
6               565           Clark St & Randolph St       41.884576
7               505          State St & Van Buren St       41.877181
8              1300     Clinton St & Washington Blvd       41.883380
9               922    Lakeview Ave & Fullerton Pkwy       41.925858
10             1523              Morgan St & 18th St       41.858086
11             1697       Ashland Ave & Armitage Ave       41.917859
12             2263         Jefferson St & Monroe St       41.880422
13             1365             May St & Randolph St       41.883970
14              610              Morgan St & Lake St       41.885483
15              415         Aberdeen St & Madison St       41.881487
16              487           Clinton St & Tilden St       41.875885
17              622       Larrabee St & Kingsbury St       41.897764
18             5396          Canal St & Jackson Blvd       41.878114
19              384         Aberdeen St & Madison St       41.881487
20              943          State St & Van Buren St       41.877181
21              726           Clark St & Randolph St       41.884576
22              895             Wells St & Walton St       41.899930
23              700       Lincoln Ave & Armitage Ave       41.918273
24              511           Michigan Ave & Lake St       41.886058
25              830        Wabash Ave & Roosevelt Rd       41.867173
26             1043           State St & Harrison St       41.873958
27              439        Wabash Ave & Roosevelt Rd       41.867173
28               88               Daley Center Plaza       41.884337
29              294           Michigan Ave & Lake St       41.886058
...             ...                              ...             ...
50059           389     Marshfield Ave & Cortland St       41.916017
50060           412      Western Ave & Winnebago Ave       41.915520
50061           183       Hampden Ct & Diversey Pkwy       41.932620
50062           389            Dayton St & North Ave       41.910578
50063           493     Washtenaw Ave & Lawrence Ave       41.968987
50064           583  Racine Ave (May St) & Fulton St       41.886926
50065           369      Lincoln Ave & Diversey Pkwy       41.932225
50066           705             Clinton St & Lake St       41.885637
50067           138        Wabash Ave & Roosevelt Rd       41.867227
50068           856              Canal St & Adams St       41.879255
50069           227         LaSalle St & Illinois St       41.890762
50070           275           Halsted St & Roscoe St       41.943670
50071           867          Western Ave & Walton St       41.898418
50072           392           State St & Randolph St       41.884730
50073           401        Sheffield Ave & Willow St       41.913688
50074           258        Ashland Ave & Chicago Ave       41.895966
50075           226           Wabash Ave & Wacker Pl       41.886875
50076           356  Blackstone Ave & Hyde Park Blvd       41.802562
50077          2378             Clinton St & 18th St       41.857950
50078           877     Southport Ave & Waveland Ave       41.948150
50079           270      Southport Ave & Belmont Ave       41.939490
50080          1378  Cityfront Plaza Dr & Pioneer Ct       41.890573
50081           617           Kingsbury St & Erie St       41.893882
50082           363             Larrabee St & Oak St       41.900219
50083          1175          Western Ave & Walton St       41.898418
50084          1625            State St & Pearson St       41.897448
50085           585         Halsted St & 35th St (*)       41.830661
50086           824         Kingsbury St & Kinzie St       41.889177
50087           178             Clinton St & Lake St       41.885637
50088           214       Clarendon Ave & Leland Ave       41.967968

       longitude_start  dpcapacity_start                      to_station_name  \
0           -87.616970              11.0                Michigan Ave & Oak St
1           -87.641170              31.0                 Wells St & Walton St
2           -87.653497              15.0              Dearborn St & Monroe St
3           -87.653449              19.0               Clark St & Randolph St
4           -87.677692              19.0               Damen Ave & Pierce Ave
5           -87.695445              15.0            Clark St & Wrightwood Ave
6           -87.631890              31.0      Ravenswood Ave & Irving Park Rd
7           -87.627844              27.0           Franklin St & Jackson Blvd
8           -87.641170              31.0                Wood St & Division St
9           -87.638973              19.0           Racine Ave & Congress Pkwy
10          -87.651073              15.0               Damen Ave & Pierce Ave
11          -87.668919              15.0           Lincoln Ave & Armitage Ave
12          -87.642746              19.0             Jefferson St & Monroe St
13          -87.655688              15.0                      Millennium Park
14          -87.652305              15.0           Aberdeen St & Jackson Blvd
15          -87.654752              19.0                   May St & Taylor St
16          -87.640795              23.0               State St & Harrison St
17          -87.642884              27.0                 State St & Kinzie St
18          -87.639971              35.0                      Millennium Park
19          -87.654752              19.0              Canal St & Jackson Blvd
20          -87.627844              27.0                   State St & 16th St
21          -87.631890              31.0               State St & Harrison St
22          -87.634430              19.0           Ashland Ave & Augusta Blvd
23          -87.638116              19.0           Wilton Ave & Diversey Pkwy
24          -87.624289              23.0              Clinton St & Madison St
25          -87.625955              19.0                   Daley Center Plaza
26          -87.627739              19.0                 Racine Ave & 18th St
27          -87.625955              19.0               Dearborn St & Adams St
28          -87.630183              47.0                   Daley Center Plaza
29          -87.624289              23.0                   Daley Center Plaza
...                ...               ...                                  ...
50059       -87.668879              23.0            Leavitt St & Armitage Ave
50060       -87.687022              15.0         Spaulding Ave & Armitage Ave
50061       -87.642385              23.0           Wilton Ave & Diversey Pkwy
50062       -87.649422              19.0                 Larrabee St & Oak St
50063       -87.696027              15.0        Ravenswood Ave & Lawrence Ave
50064       -87.656919              15.0                  Canal St & Adams St
50065       -87.658617              15.0            Clark St & Wrightwood Ave
50066       -87.641823              23.0              Ogden Ave & Chicago Ave
50067       -87.625961              23.0               Michigan Ave & 14th St
50068       -87.639904              47.0          Dearborn Pkwy & Delaware Pl
50069       -87.631697              31.0             Fairbanks Ct & Grand Ave
50070       -87.648950              15.0            Clark St & Wellington Ave
50071       -87.686596              19.0             Damen Ave & Augusta Blvd
50072       -87.627734              27.0             McClurg Ct & Illinois St
50073       -87.652855              15.0           Clybourn Ave & Division St
50074       -87.667747              15.0            Ashland Ave & Division St
50075       -87.626030              19.0               State St & Randolph St
50076       -87.590368              19.0              Lake Park Ave & 56th St
50077       -87.640826              15.0                 Canal St & Taylor St
50078       -87.663940              23.0           Clarendon Ave & Gordon Ter
50079       -87.663780              15.0             Wilton Ave & Belmont Ave
50080       -87.622072              23.0  Mies van der Rohe Way & Chestnut St
50081       -87.641711              23.0                  Canal St & Adams St
50082       -87.642985              19.0        Halsted St & Blackhawk St (*)
50083       -87.686596              19.0             Damen Ave & Clybourn Ave
50084       -87.628722              27.0                    Clark St & Elm St
50085       -87.647172              16.0                  Union Ave & Root St
50086       -87.638506              31.0        Halsted St & Blackhawk St (*)
50087       -87.641823              23.0             Kingsbury St & Kinzie St
50088       -87.650001              15.0           Clifton Ave & Lawrence Ave

       latitude_end  longitude_end  dpcapacity_end  temperature  visibility  \
0         41.900960     -87.623777            15.0         73.9        10.0
1         41.899930     -87.634430            19.0         69.1        10.0
2         41.881320     -87.629521            23.0         73.0        10.0
3         41.884576     -87.631890            31.0         72.0        10.0
4         41.909396     -87.677692            19.0         73.0        10.0
5         41.929546     -87.643118            15.0         73.0        10.0
6         41.954690     -87.673930            19.0         66.0        10.0
7         41.877708     -87.635321            27.0         64.0         7.0
8         41.903320     -87.672730            15.0         71.1         8.0
9         41.874640     -87.657030            19.0         81.0        10.0
10        41.909396     -87.677692            19.0         79.0        10.0
11        41.918273     -87.638116            19.0         79.0        10.0
12        41.880422     -87.642746            19.0         79.0        10.0
13        41.881032     -87.624084            35.0         78.1        10.0
14        41.877726     -87.654787            15.0         82.0        10.0
15        41.869482     -87.655486            15.0         72.0        10.0
16        41.873958     -87.627739            19.0         84.0        10.0
17        41.889180     -87.627700            15.0         84.0        10.0
18        41.881032     -87.624084            35.0         79.0        10.0
19        41.878114     -87.639971            35.0         79.0        10.0
20        41.860121     -87.627729            15.0         82.9        10.0
21        41.873958     -87.627739            19.0         82.9        10.0
22        41.899643     -87.667700            15.0         82.0        10.0
23        41.932500     -87.652681            19.0         84.9        10.0
24        41.881582     -87.641277            23.0         82.9        10.0
25        41.884337     -87.630183            47.0         73.9        10.0
26        41.858181     -87.656487            15.0         64.9        10.0
27        41.879356     -87.629791            19.0         64.9        10.0
28        41.884337     -87.630183            47.0         77.0        10.0
29        41.884337     -87.630183            47.0         81.0        10.0
...             ...            ...             ...          ...         ...
50059     41.917805     -87.682437            11.0         26.1        10.0
50060     41.917184     -87.710357            15.0         26.1        10.0
50061     41.932418     -87.652705            27.0         21.0        10.0
50062     41.900219     -87.642985            19.0         10.0        10.0
50063     41.969090     -87.674237            39.0          3.9        10.0
50064     41.879255     -87.639904            47.0          3.9        10.0
50065     41.929546     -87.643118            15.0          3.9        10.0
50066     41.896362     -87.654061            19.0          3.0        10.0
50067     41.864059     -87.623727            19.0         -2.9        10.0
50068     41.898969     -87.629912            19.0         -2.9        10.0
50069     41.891860     -87.620620            15.0         -0.9        10.0
50070     41.936497     -87.647539            15.0          1.0        10.0
50071     41.899113     -87.677212            23.0          1.0        10.0
50072     41.890359     -87.617532            31.0          5.0        10.0
50073     41.904613     -87.640552            15.0         12.9        10.0
50074     41.903450     -87.667747            19.0         12.9         6.0
50075     41.884730     -87.627734            27.0         12.0         2.0
50076     41.793242     -87.587782            19.0         10.9         8.0
50077     41.870257     -87.639474            15.0         12.9         9.0
50078     41.957879     -87.649519            15.0         14.0        10.0
50079     41.940180     -87.653040            23.0         14.0         2.5
50080     41.898587     -87.621915            19.0         14.0         1.5
50081     41.879255     -87.639904            47.0         14.0         1.5
50082     41.908537     -87.648627            20.0          3.9        10.0
50083     41.931931     -87.677856            15.0          3.9        10.0
50084     41.902973     -87.631280            27.0          5.0        10.0
50085     41.819102     -87.643278            11.0          5.0        10.0
50086     41.908537     -87.648627            20.0          5.0        10.0
50087     41.889177     -87.638506            31.0          7.0        10.0
50088     41.968812     -87.657659            15.0         10.9        10.0

       wind_speed  precipitation        events
0            12.7       -9999.00  mostlycloudy
1             6.9       -9999.00  partlycloudy
2            16.1       -9999.00  mostlycloudy
3            16.1       -9999.00  mostlycloudy
4            17.3       -9999.00  partlycloudy
5            17.3       -9999.00  mostlycloudy
6            15.0       -9999.00        cloudy
7             5.8       -9999.00        cloudy
8             0.0       -9999.00        cloudy
9            12.7       -9999.00  mostlycloudy
10            9.2       -9999.00  mostlycloudy
11           10.4       -9999.00  mostlycloudy
12            0.0       -9999.00  partlycloudy
13            5.8       -9999.00  partlycloudy
14            5.8       -9999.00  mostlycloudy
15            5.8       -9999.00  mostlycloudy
16            8.1           0.00  mostlycloudy
17            8.1           0.00  mostlycloudy
18           13.8           0.00        cloudy
19           13.8           0.00        cloudy
20            9.2       -9999.00  mostlycloudy
21            9.2       -9999.00  partlycloudy
22           11.5       -9999.00  partlycloudy
23           16.1       -9999.00  mostlycloudy
24           12.7       -9999.00  partlycloudy
25            8.1       -9999.00         clear
26            0.0       -9999.00         clear
27            0.0       -9999.00  partlycloudy
28            4.6       -9999.00  partlycloudy

### Problem 7
<span  style="color:green; font-size:16px">The memory usage from the **`info`** method isn't correct when you have objects in your DataFrame. Read the docstrings from it and get the true memory usage.</span>

In [30]:
# your code here
bikes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
trip_id              50089 non-null int64
usertype             50089 non-null object
gender               50089 non-null object
starttime            50089 non-null object
stoptime             50089 non-null object
tripduration         50089 non-null int64
from_station_name    50089 non-null object
latitude_start       50083 non-null float64
longitude_start      50083 non-null float64
dpcapacity_start     50083 non-null float64
to_station_name      50089 non-null object
latitude_end         50077 non-null float64
longitude_end        50077 non-null float64
dpcapacity_end       50077 non-null float64
temperature          50089 non-null float64
visibility           50089 non-null float64
wind_speed           50089 non-null float64
precipitation        50089 non-null float64
events               50089 non-null object
dtypes: float64(10), int64(2), object(7)
memory usage: 28.9 MB

# Explore more on your own below
Think of your own questions, then ask and answer them

In [36]:
# explore here
type(bikes) # gives the type of the object: DataFrame, ignore 'pandas.core.frame.'

pandas.core.frame.DataFrame

In [38]:
bikes.dtypes #data types of each column in the dataframe (only for Pandas). Returns Pandas series

trip_id                int64
usertype              object
gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
latitude_start       float64
longitude_start      float64
dpcapacity_start     float64
to_station_name       object
latitude_end         float64
longitude_end        float64
dpcapacity_end       float64
temperature          float64
visibility           float64
wind_speed           float64
precipitation        float64
events                object
dtype: object

In [40]:
dt = bikes.dtypes
type(dt) # type of dtypes is pandas series

pandas.core.series.Series

In [43]:
a = [1, 2 ,3]

In [44]:
len(a) # built in function, length of the list

3

In [45]:
len # it should give an error, but python does not.

In [46]:
length_function = len # we could assign an fucntion with an variable name

In [47]:
length_function(a)

3

In [41]:
bikes.info() # it's not an dataframe, just a print to the screen, it prints the report, not a type of object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
trip_id              50089 non-null int64
usertype             50089 non-null object
gender               50089 non-null object
starttime            50089 non-null object
stoptime             50089 non-null object
tripduration         50089 non-null int64
from_station_name    50089 non-null object
latitude_start       50083 non-null float64
longitude_start      50083 non-null float64
dpcapacity_start     50083 non-null float64
to_station_name      50089 non-null object
latitude_end         50077 non-null float64
longitude_end        50077 non-null float64
dpcapacity_end       50077 non-null float64
temperature          50089 non-null float64
visibility           50089 non-null float64
wind_speed           50089 non-null float64
precipitation        50089 non-null float64
events               50089 non-null object
dtypes: float64(10), int64(2), object(7)
memory usage: 7.3+ MB

In [52]:
info = bikes.info()
type(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
trip_id              50089 non-null int64
usertype             50089 non-null object
gender               50089 non-null object
starttime            50089 non-null object
stoptime             50089 non-null object
tripduration         50089 non-null int64
from_station_name    50089 non-null object
latitude_start       50083 non-null float64
longitude_start      50083 non-null float64
dpcapacity_start     50083 non-null float64
to_station_name      50089 non-null object
latitude_end         50077 non-null float64
longitude_end        50077 non-null float64
dpcapacity_end       50077 non-null float64
temperature          50089 non-null float64
visibility           50089 non-null float64
wind_speed           50089 non-null float64
precipitation        50089 non-null float64
events               50089 non-null object
dtypes: float64(10), int64(2), object(7)
memory usage: 7.3+ MB

NoneType

In [42]:
bikes.info # it's a mistake, python allows to reference function as a variable.
# Outputs the object itself.
# It referes the method and nothing will be done here. 
# it tells that it is an info function, but it would returns the raw data if wrongly used.
# It means we forget prantisis

<bound method DataFrame.info of         trip_id    usertype  gender            starttime             stoptime  \
0          7147  Subscriber    Male  2013-06-28 19:01:00  2013-06-28 19:17:00
1          7524  Subscriber    Male  2013-06-28 22:53:00  2013-06-28 23:03:00
2         10927  Subscriber    Male  2013-06-30 14:43:00  2013-06-30 15:01:00
3         12907  Subscriber    Male  2013-07-01 10:05:00  2013-07-01 10:16:00
4         13168  Subscriber    Male  2013-07-01 11:16:00  2013-07-01 11:18:00
5         13595  Subscriber    Male  2013-07-01 12:37:00  2013-07-01 12:48:00
6         18880  Subscriber    Male  2013-07-02 17:47:00  2013-07-02 17:56:00
7         19689  Subscriber    Male  2013-07-03 09:07:00  2013-07-03 09:16:00
8         21028  Subscriber    Male  2013-07-03 15:21:00  2013-07-03 15:42:00
9         23558  Subscriber  Female  2013-07-04 15:00:00  2013-07-04 15:16:00
10        24383  Subscriber    Male  2013-07-04 17:17:00  2013-07-04 17:42:00
11        24673  Subscriber    Male  2013-07-04 18:13:00  2013-07-04 18:42:00
12        26214  Subscriber    Male  2013-07-05 10:02:00  2013-07-05 10:40:00
13        30404  Subscriber    Male  2013-07-06 09:43:00  2013-07-06 10:06:00
14        31121  Subscriber  Female  2013-07-06 12:39:00  2013-07-06 12:49:00
15        33998  Subscriber    Male  2013-07-07 00:06:00  2013-07-07 00:13:00
16        38628  Subscriber    Male  2013-07-08 17:06:00  2013-07-08 17:14:00
17        38729  Subscriber    Male  2013-07-08 17:33:00  2013-07-08 17:44:00
18        40924  Subscriber    Male  2013-07-09 13:12:00  2013-07-09 14:42:00
19        40879  Subscriber    Male  2013-07-09 13:14:00  2013-07-09 13:20:00
20        42488  Subscriber  Female  2013-07-09 17:39:00  2013-07-09 17:55:00
21        42818  Subscriber  Female  2013-07-09 19:26:00  2013-07-09 19:38:00
22        43804  Subscriber  Female  2013-07-10 09:18:00  2013-07-10 09:33:00
23        45077  Subscriber  Female  2013-07-10 12:34:00  2013-07-10 12:46:00
24        46108  Subscriber  Female  2013-07-10 16:35:00  2013-07-10 16:44:00
25        47798  Subscriber  Female  2013-07-11 08:17:00  2013-07-11 08:31:00
26        51130  Subscriber    Male  2013-07-12 01:07:00  2013-07-12 01:24:00
27        51210  Subscriber    Male  2013-07-12 06:53:00  2013-07-12 07:00:00
28        51823  Subscriber    Male  2013-07-12 10:01:00  2013-07-12 10:02:00
29        52547  Subscriber    Male  2013-07-12 12:23:00  2013-07-12 12:28:00
...         ...         ...     ...                  ...                  ...
50059  17525739  Subscriber    Male  2017-12-23 15:28:00  2017-12-23 15:34:00
50060  17525743  Subscriber    Male  2017-12-23 15:31:00  2017-12-23 15:38:00
50061  17526542  Subscriber  Female  2017-12-24 07:56:00  2017-12-24 07:59:00
50062  17527722  Subscriber    Male  2017-12-25 18:31:00  2017-12-25 18:38:00
50063  17528311  Subscriber    Male  2017-12-26 13:27:00  2017-12-26 13:35:00
50064  17528461  Subscriber    Male  2017-12-26 15:09:00  2017-12-26 15:19:00
50065  17528527  Subscriber    Male  2017-12-26 15:49:00  2017-12-26 15:56:00
50066  17528614  Subscriber    Male  2017-12-26 16:34:00  2017-12-26 16:46:00
50067  17529175  Subscriber    Male  2017-12-27 06:05:00  2017-12-27 06:07:00
50068  17529292  Subscriber    Male  2017-12-27 07:46:00  2017-12-27 08:00:00
50069  17529402  Subscriber    Male  2017-12-27 08:34:00  2017-12-27 08:38:00
50070  17530881  Subscriber    Male  2017-12-27 20:02:00  2017-12-27 20:06:00
50071  17530946  Subscriber  Female  2017-12-27 21:08:00  2017-12-27 21:22:00
50072  17531067  Subscriber    Male  2017-12-28 06:16:00  2017-12-28 06:22:00
50073  17531700  Subscriber    Male  2017-12-28 10:27:00  2017-12-28 10:34:00
50074  17532063  Subscriber    Male  2017-12-28 13:08:00  2017-12-28 13:13:00
50075  17532624  Subscriber    Male  2017-12-28 17:03:00  2017-12-28 17:07:00
50076  17533419  Subscriber    Male  2017-12-29 08:42:00  2017-12-29 08:48:00
50077  17533484  Subscriber    Male  2017-12-29 09:13:00  2017-12-29 09:53:00
50078  17533656  Subscriber  Female  2017-12-29 11:14:00  2017-12-29 11:28:00
50079  17533757  Subscriber    Male  2017-12-29 12:08:00  2017-12-29 12:12:00
50080  17534057  Subscriber    Male  2017-12-29 15:28:00  2017-12-29 15:51:00
50081  17534131  Subscriber    Male  2017-12-29 16:09:00  2017-12-29 16:19:00
50082  17534773  Subscriber    Male  2017-12-30 10:47:00  2017-12-30 10:53:00
50083  17534831  Subscriber    Male  2017-12-30 11:36:00  2017-12-30 11:55:00
50084  17534938  Subscriber    Male  2017-12-30 13:07:00  2017-12-30 13:34:00
50085  17534969  Subscriber    Male  2017-12-30 13:34:00  2017-12-30 13:44:00
50086  17534972  Subscriber    Male  2017-12-30 13:34:00  2017-12-30 13:48:00
50087  17535645  Subscriber  Female  2017-12-31 09:30:00  2017-12-31 09:33:00
50088  17536246  Subscriber    Male  2017-12-31 15:22:00  2017-12-31 15:26:00

       tripduration                from_station_name  latitude_start  \
0               993        Lake Shore Dr & Monroe St       41.881050
1               623     Clinton St & Washington Blvd       41.883380
2              1040     Sheffield Ave & Kingsbury St       41.909592
3               667          Carpenter St & Huron St       41.894556
4               130           Damen Ave & Pierce Ave       41.909396
5               660         California Ave & 21st St       41.854016
6               565           Clark St & Randolph St       41.884576
7               505          State St & Van Buren St       41.877181
8              1300     Clinton St & Washington Blvd       41.883380
9               922    Lakeview Ave & Fullerton Pkwy       41.925858
10             1523              Morgan St & 18th St       41.858086
11             1697       Ashland Ave & Armitage Ave       41.917859
12             2263         Jefferson St & Monroe St       41.880422
13             1365             May St & Randolph St       41.883970
14              610              Morgan St & Lake St       41.885483
15              415         Aberdeen St & Madison St       41.881487
16              487           Clinton St & Tilden St       41.875885
17              622       Larrabee St & Kingsbury St       41.897764
18             5396          Canal St & Jackson Blvd       41.878114
19              384         Aberdeen St & Madison St       41.881487
20              943          State St & Van Buren St       41.877181
21              726           Clark St & Randolph St       41.884576
22              895             Wells St & Walton St       41.899930
23              700       Lincoln Ave & Armitage Ave       41.918273
24              511           Michigan Ave & Lake St       41.886058
25              830        Wabash Ave & Roosevelt Rd       41.867173
26             1043           State St & Harrison St       41.873958
27              439        Wabash Ave & Roosevelt Rd       41.867173
28               88               Daley Center Plaza       41.884337
29              294           Michigan Ave & Lake St       41.886058
...             ...                              ...             ...
50059           389     Marshfield Ave & Cortland St       41.916017
50060           412      Western Ave & Winnebago Ave       41.915520
50061           183       Hampden Ct & Diversey Pkwy       41.932620
50062           389            Dayton St & North Ave       41.910578
50063           493     Washtenaw Ave & Lawrence Ave       41.968987
50064           583  Racine Ave (May St) & Fulton St       41.886926
50065           369      Lincoln Ave & Diversey Pkwy       41.932225
50066           705             Clinton St & Lake St       41.885637
50067           138        Wabash Ave & Roosevelt Rd       41.867227
50068           856              Canal St & Adams St       41.879255
50069           227         LaSalle St & Illinois St       41.890762
50070           275           Halsted St & Roscoe St       41.943670
50071           867          Western Ave & Walton St       41.898418
50072           392           State St & Randolph St       41.884730
50073           401        Sheffield Ave & Willow St       41.913688
50074           258        Ashland Ave & Chicago Ave       41.895966
50075           226           Wabash Ave & Wacker Pl       41.886875
50076           356  Blackstone Ave & Hyde Park Blvd       41.802562
50077          2378             Clinton St & 18th St       41.857950
50078           877     Southport Ave & Waveland Ave       41.948150
50079           270      Southport Ave & Belmont Ave       41.939490
50080          1378  Cityfront Plaza Dr & Pioneer Ct       41.890573
50081           617           Kingsbury St & Erie St       41.893882
50082           363             Larrabee St & Oak St       41.900219
50083          1175          Western Ave & Walton St       41.898418
50084          1625            State St & Pearson St       41.897448
50085           585         Halsted St & 35th St (*)       41.830661
50086           824         Kingsbury St & Kinzie St       41.889177
50087           178             Clinton St & Lake St       41.885637
50088           214       Clarendon Ave & Leland Ave       41.967968

       longitude_start  dpcapacity_start                      to_station_name  \
0           -87.616970              11.0                Michigan Ave & Oak St
1           -87.641170              31.0                 Wells St & Walton St
2           -87.653497              15.0              Dearborn St & Monroe St
3           -87.653449              19.0               Clark St & Randolph St
4           -87.677692              19.0               Damen Ave & Pierce Ave
5           -87.695445              15.0            Clark St & Wrightwood Ave
6           -87.631890              31.0      Ravenswood Ave & Irving Park Rd
7           -87.627844              27.0           Franklin St & Jackson Blvd
8           -87.641170              31.0                Wood St & Division St
9           -87.638973              19.0           Racine Ave & Congress Pkwy
10          -87.651073              15.0               Damen Ave & Pierce Ave
11          -87.668919              15.0           Lincoln Ave & Armitage Ave
12          -87.642746              19.0             Jefferson St & Monroe St
13          -87.655688              15.0                      Millennium Park
14          -87.652305              15.0           Aberdeen St & Jackson Blvd
15          -87.654752              19.0                   May St & Taylor St
16          -87.640795              23.0               State St & Harrison St
17          -87.642884              27.0                 State St & Kinzie St
18          -87.639971              35.0                      Millennium Park
19          -87.654752              19.0              Canal St & Jackson Blvd
20          -87.627844              27.0                   State St & 16th St
21          -87.631890              31.0               State St & Harrison St
22          -87.634430              19.0           Ashland Ave & Augusta Blvd
23          -87.638116              19.0           Wilton Ave & Diversey Pkwy
24          -87.624289              23.0              Clinton St & Madison St
25          -87.625955              19.0                   Daley Center Plaza
26          -87.627739              19.0                 Racine Ave & 18th St
27          -87.625955              19.0               Dearborn St & Adams St
28          -87.630183              47.0                   Daley Center Plaza
29          -87.624289              23.0                   Daley Center Plaza
...                ...               ...                                  ...
50059       -87.668879              23.0            Leavitt St & Armitage Ave
50060       -87.687022              15.0         Spaulding Ave & Armitage Ave
50061       -87.642385              23.0           Wilton Ave & Diversey Pkwy
50062       -87.649422              19.0                 Larrabee St & Oak St
50063       -87.696027              15.0        Ravenswood Ave & Lawrence Ave
50064       -87.656919              15.0                  Canal St & Adams St
50065       -87.658617              15.0            Clark St & Wrightwood Ave
50066       -87.641823              23.0              Ogden Ave & Chicago Ave
50067       -87.625961              23.0               Michigan Ave & 14th St
50068       -87.639904              47.0          Dearborn Pkwy & Delaware Pl
50069       -87.631697              31.0             Fairbanks Ct & Grand Ave
50070       -87.648950              15.0            Clark St & Wellington Ave
50071       -87.686596              19.0             Damen Ave & Augusta Blvd
50072       -87.627734              27.0             McClurg Ct & Illinois St
50073       -87.652855              15.0           Clybourn Ave & Division St
50074       -87.667747              15.0            Ashland Ave & Division St
50075       -87.626030              19.0               State St & Randolph St
50076       -87.590368              19.0              Lake Park Ave & 56th St
50077       -87.640826              15.0                 Canal St & Taylor St
50078       -87.663940              23.0           Clarendon Ave & Gordon Ter
50079       -87.663780              15.0             Wilton Ave & Belmont Ave
50080       -87.622072              23.0  Mies van der Rohe Way & Chestnut St
50081       -87.641711              23.0                  Canal St & Adams St
50082       -87.642985              19.0        Halsted St & Blackhawk St (*)
50083       -87.686596              19.0             Damen Ave & Clybourn Ave
50084       -87.628722              27.0                    Clark St & Elm St
50085       -87.647172              16.0                  Union Ave & Root St
50086       -87.638506              31.0        Halsted St & Blackhawk St (*)
50087       -87.641823              23.0             Kingsbury St & Kinzie St
50088       -87.650001              15.0           Clifton Ave & Lawrence Ave

       latitude_end  longitude_end  dpcapacity_end  temperature  visibility  \
0         41.900960     -87.623777            15.0         73.9        10.0
1         41.899930     -87.634430            19.0         69.1        10.0
2         41.881320     -87.629521            23.0         73.0        10.0
3         41.884576     -87.631890            31.0         72.0        10.0
4         41.909396     -87.677692            19.0         73.0        10.0
5         41.929546     -87.643118            15.0         73.0        10.0
6         41.954690     -87.673930            19.0         66.0        10.0
7         41.877708     -87.635321            27.0         64.0         7.0
8         41.903320     -87.672730            15.0         71.1         8.0
9         41.874640     -87.657030            19.0         81.0        10.0
10        41.909396     -87.677692            19.0         79.0        10.0
11        41.918273     -87.638116            19.0         79.0        10.0
12        41.880422     -87.642746            19.0         79.0        10.0
13        41.881032     -87.624084            35.0         78.1        10.0
14        41.877726     -87.654787            15.0         82.0        10.0
15        41.869482     -87.655486            15.0         72.0        10.0
16        41.873958     -87.627739            19.0         84.0        10.0
17        41.889180     -87.627700            15.0         84.0        10.0
18        41.881032     -87.624084            35.0         79.0        10.0
19        41.878114     -87.639971            35.0         79.0        10.0
20        41.860121     -87.627729            15.0         82.9        10.0
21        41.873958     -87.627739            19.0         82.9        10.0
22        41.899643     -87.667700            15.0         82.0        10.0
23        41.932500     -87.652681            19.0         84.9        10.0
24        41.881582     -87.641277            23.0         82.9        10.0
25        41.884337     -87.630183            47.0         73.9        10.0
26        41.858181     -87.656487            15.0         64.9        10.0
27        41.879356     -87.629791            19.0         64.9        10.0
28        41.884337     -87.630183            47.0         77.0        10.0
29        41.884337     -87.630183            47.0         81.0        10.0
...             ...            ...             ...          ...         ...
50059     41.917805     -87.682437            11.0         26.1        10.0
50060     41.917184     -87.710357            15.0         26.1        10.0
50061     41.932418     -87.652705            27.0         21.0        10.0
50062     41.900219     -87.642985            19.0         10.0        10.0
50063     41.969090     -87.674237            39.0          3.9        10.0
50064     41.879255     -87.639904            47.0          3.9        10.0
50065     41.929546     -87.643118            15.0          3.9        10.0
50066     41.896362     -87.654061            19.0          3.0        10.0
50067     41.864059     -87.623727            19.0         -2.9        10.0
50068     41.898969     -87.629912            19.0         -2.9        10.0
50069     41.891860     -87.620620            15.0         -0.9        10.0
50070     41.936497     -87.647539            15.0          1.0        10.0
50071     41.899113     -87.677212            23.0          1.0        10.0
50072     41.890359     -87.617532            31.0          5.0        10.0
50073     41.904613     -87.640552            15.0         12.9        10.0
50074     41.903450     -87.667747            19.0         12.9         6.0
50075     41.884730     -87.627734            27.0         12.0         2.0
50076     41.793242     -87.587782            19.0         10.9         8.0
50077     41.870257     -87.639474            15.0         12.9         9.0
50078     41.957879     -87.649519            15.0         14.0        10.0
50079     41.940180     -87.653040            23.0         14.0         2.5
50080     41.898587     -87.621915            19.0         14.0         1.5
50081     41.879255     -87.639904            47.0         14.0         1.5
50082     41.908537     -87.648627            20.0          3.9        10.0
50083     41.931931     -87.677856            15.0          3.9        10.0
50084     41.902973     -87.631280            27.0          5.0        10.0
50085     41.819102     -87.643278            11.0          5.0        10.0
50086     41.908537     -87.648627            20.0          5.0        10.0
50087     41.889177     -87.638506            31.0          7.0        10.0
50088     41.968812     -87.657659            15.0         10.9        10.0

       wind_speed  precipitation        events
0            12.7       -9999.00  mostlycloudy
1             6.9       -9999.00  partlycloudy
2            16.1       -9999.00  mostlycloudy
3            16.1       -9999.00  mostlycloudy
4            17.3       -9999.00  partlycloudy
5            17.3       -9999.00  mostlycloudy
6            15.0       -9999.00        cloudy
7             5.8       -9999.00        cloudy
8             0.0       -9999.00        cloudy
9            12.7       -9999.00  mostlycloudy
10            9.2       -9999.00  mostlycloudy
11           10.4       -9999.00  mostlycloudy
12            0.0       -9999.00  partlycloudy
13            5.8       -9999.00  partlycloudy
14            5.8       -9999.00  mostlycloudy
15            5.8       -9999.00  mostlycloudy
16            8.1           0.00  mostlycloudy
17            8.1           0.00  mostlycloudy
18           13.8           0.00        cloudy
19           13.8           0.00        cloudy
20            9.2       -9999.00  mostlycloudy
21            9.2       -9999.00  partlycloudy
22           11.5       -9999.00  partlycloudy
23           16.1       -9999.00  mostlycloudy
24           12.7       -9999.00  partlycloudy
25            8.1       -9999.00         clear

In [49]:
type(bikes.info)

method

In [50]:
shape = bikes.shape
type(shape)

tuple

In [51]:
shape

(50089, 19)

method has to put (), or it's not an error

In [53]:
info is None

True

In [54]:
type(info)

NoneType

In [55]:
a = None
b = None
a is b

True