9/7/2018

Day 1

Overview of Today:

- keep hands on keyboard
- one line of code, verify it's correct from the feedback, head, new cell (keep one code in a cell, keep the code min)
- selecting subsets of data
- get to know series/dataframe attributes and methods

Open with Anaconda Navigator 
df: provides labels of rows and columns, labeled data. 3 independent components: columns, index, actual data.
pandas will make assumptions on the datatype of each column.

NaN - float
None - object
when missing in int/boolean, then it will be float.

Recommended extensions: 


- hinterland
- variable inspector
- skip-traceback 
- nbextensions edit menu item
- jupyter-js-widegts/extension 

first 3 is the most important

Day 2

9/9/2018 Note, Amy Jin

### Vectorization

In [1]:
import pandas as pd
emp = pd.read_csv('../data/employee.csv')
emp.head(3)

,title,dept,salary,race,gender,hire_date,job_date
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic,Female,2006-06-12,2012-10-13
1,LIBRARY ASSISTANT,Library,26125.0,Hispanic,Female,2000-07-19,2010-09-18
2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Male,2015-02-03,2015-02-03

In [5]:
salary = emp['salary']
salary.head()

0    121862.0
1     26125.0
2     45279.0
3     63166.0
4     56347.0
Name: salary, dtype: float64

In [7]:
(salary + 100).head() # give 100 to everybody  
# vectorization = apply something to every value without loop
# underneath there is a for loop, we don't see it

0    121962.0
1     26225.0
2     45379.0
3     63266.0
4     56447.0
Name: salary, dtype: float64

### Descriptive

In [8]:
salary.mean()  # access to lots of power of the object salary

55767.93160127253

In [9]:
salary.min()  
# aggrations: taking whole bunch of data and get a single number from the summarizing the data
# eg: min, max, mean, stdev, size

24960.0

In [10]:
salary.count() # Return number of non-NA/null observations in the Series
# same as SQL

1886

In [11]:
len(salary)    # Return the number of items in a container.
# there is 2000 emplyees and there is only 1886 have salaries

2000

### Agg vs non-aggregation

In [13]:
salary.abs().head() # non-agg function

0    121862.0
1     26125.0
2     45279.0
3     63166.0
4     56347.0
Name: salary, dtype: float64

### Boolean

In [15]:
s = salary > 10 ** 5 # how many people make 10000 more 
s.head()

0     True
1    False
2    False
3    False
4    False
Name: salary, dtype: bool

In [17]:
emp[s].head()  # filter

,title,dept,salary,race,gender,hire_date,job_date
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic,Female,2006-06-12,2012-10-13
8,DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV,Public Works & Engineering-PWE,107962.0,White,Male,1993-11-15,2013-01-05
11,"CHIEF PHYSICIAN,MD",Health & Human Services,180416.0,Black,Male,1987-05-22,1999-08-28
43,ASSOCIATE EMS PHYSICIAN DIRECTOR,Houston Fire Department (HFD),165216.0,Hispanic,Male,2013-08-31,2013-08-31
66,"PUBLIC HEALTH DENTIST,DDS",Health & Human Services,100791.0,White,Female,2015-12-28,2015-12-28

In [18]:
s.sum() # 57 people earn > 10000

57

In [19]:
s.mean() # percentage that true = s.sum() / len(s)

0.0285

In [20]:
len(s)

2000

In [21]:
57/2000

0.0285

In [31]:
filt = emp['race'] == 'Black'
len_black = len(emp.loc[filt, 'salary'])
print(len_black)
print(len(salary))
len_black / len(salary) # percentage of black employee

700
2000

0.35

In [29]:
filt.head(6)

0    False
1    False
2    False
3    False
4    False
5     True
Name: race, dtype: bool

In [32]:
filt.sum() / len(filt)

0.35

In [33]:
123 / 17

7.235294117647059

In [35]:
123 // 17 # chop off decimals, always get int

7

In [36]:
filt = emp['race'] == 'Black'
filt.mean()

0.35

In [37]:
(emp['race'] == 'Black').mean()

0.35

### Sorting

In [39]:
salary.sort_values().head() # put the missing value in the end na_position='last' by default
# could change to first to make na first

454     24960.0
488     26104.0
1844    26125.0
92      26125.0
1124    26125.0
Name: salary, dtype: float64

In [48]:
salary.sort_values(kind = 'mergesort').head()

454    24960.0
488    26104.0
1      26125.0
63     26125.0
92     26125.0
Name: salary, dtype: float64

In [49]:
salary.sort_values(ascending= True).head()

454     24960.0
488     26104.0
1844    26125.0
92      26125.0
1124    26125.0
Name: salary, dtype: float64

In [47]:
salary.is_monotonic_decreasing

False

In [50]:
salary_sorted = salary.sort_values()
salary_sorted.head()

454     24960.0
488     26104.0
1844    26125.0
92      26125.0
1124    26125.0
Name: salary, dtype: float64

In [ ]:
salary = emp['salary'] # this is referecing the df, it's not a copy of salary column

In [ ]:
salary.sort_values(inplace = True) # error

In [51]:
salary = emp['salary'].copy() # force to create a copy

In [54]:
salary.sort_values(inplace = True) 
# work for copy of column with inplace = True, not commonly uesed. So don't use it.
salary.head()

454     24960.0
488     26104.0
1844    26125.0
1215    26125.0
1124    26125.0
Name: salary, dtype: float64

### Experimenting some methods

http://pandas.pydata.org/pandas-docs/stable/api.html#series

In [58]:
salary.dtype

dtype('float64')

In [59]:
salary.ftype

'float64:dense'

In [60]:
salary.shape

(2000,)

In [61]:
salary.nbytes

16000

In [62]:
salary.ndim

1

In [63]:
salary.size

2000

In [65]:
salary.strides

(8,)

In [67]:
salary.is_unique

False

In [69]:
salary.unique

<bound method Series.unique of 454     24960.0
488     26104.0
1844    26125.0
1215    26125.0
1124    26125.0
1433    26125.0
546     26125.0
1669    26125.0
1058    26125.0
1639    26125.0
92      26125.0
1445    26125.0
1446    26125.0
619     26125.0
622     26125.0
63      26125.0
1846    26125.0
773     26125.0
461     26125.0
764     26125.0
1347    26125.0
99      26125.0
1570    26125.0
1558    26125.0
1219    26125.0
174     26125.0
907     26125.0
1930    26125.0
1553    26125.0
1925    26125.0
         ...
1526        NaN
1561        NaN
1629        NaN
1653        NaN
1664        NaN
1676        NaN
1692        NaN
1707        NaN
1734        NaN
1747        NaN
1748        NaN
1760        NaN
1779        NaN
1792        NaN
1793        NaN
1807        NaN
1815        NaN
1821        NaN
1825        NaN
1837        NaN
1860        NaN
1866        NaN
1880        NaN
1895        NaN
1942        NaN
1962        NaN
1968        NaN
1969        NaN
1980        NaN
1987        NaN
Name: salary, Length: 2000, dtype: float64>

In [70]:
salary.nonzero

<bound method Series.nonzero of 454     24960.0
488     26104.0
1844    26125.0
1215    26125.0
1124    26125.0
1433    26125.0
546     26125.0
1669    26125.0
1058    26125.0
1639    26125.0
92      26125.0
1445    26125.0
1446    26125.0
619     26125.0
622     26125.0
63      26125.0
1846    26125.0
773     26125.0
461     26125.0
764     26125.0
1347    26125.0
99      26125.0
1570    26125.0
1558    26125.0
1219    26125.0
174     26125.0
907     26125.0
1930    26125.0
1553    26125.0
1925    26125.0
         ...
1526        NaN
1561        NaN
1629        NaN
1653        NaN
1664        NaN
1676        NaN
1692        NaN
1707        NaN
1734        NaN
1747        NaN
1748        NaN
1760        NaN
1779        NaN
1792        NaN
1793        NaN
1807        NaN
1815        NaN
1821        NaN
1825        NaN
1837        NaN
1860        NaN
1866        NaN
1880        NaN
1895        NaN
1942        NaN
1962        NaN
1968        NaN
1969        NaN
1980        NaN
1987        NaN
Name: salary, Length: 2000, dtype: float64>

In [74]:
movie = pd.read_csv('../data/movie.csv', index_col = 'title')
actor1 = movie['actor1']

In [75]:
for idx, val in actor1.head().items():
    print(f'index is {idx}, value is {val}')

index is Avatar, value is CCH Pounder
index is Pirates of the Caribbean: At World's End, value is Johnny Depp
index is Spectre, value is Christoph Waltz
index is The Dark Knight Rises, value is Tom Hardy
index is Star Wars: Episode VII - The Force Awakens, value is Doug Walker

### Methods vs Selection

In [ ]:
salary[] # selection with []

In [ ]:
salary.median()  #it's a method, which ends with ()

### string columns

In [77]:
race = emp['race']
race.head() # columns are string. col can be string col and numeric col.

0    Hispanic
1    Hispanic
2       White
3       White
4       White
Name: race, dtype: object

In [78]:
race.value_counts()  # count the values, only works on series

Black              700
White              665
Hispanic           480
Asian              107
Native American     11
Other                2
Name: race, dtype: int64

In [79]:
race.value_counts(dropna = False)

Black              700
White              665
Hispanic           480
Asian              107
NaN                 35
Native American     11
Other                2
Name: race, dtype: int64

In [82]:
race.value_counts(dropna = False, ascending = True)

Other                2
Native American     11
NaN                 35
Asian              107
Hispanic           480
White              665
Black              700
Name: race, dtype: int64

In [85]:
gender = emp['gender']
gender.value_counts(dropna = False, ascending = True, sort = False)

Male      1397
Female     603
Name: gender, dtype: int64

In [86]:
gender = emp['gender']
gender.value_counts(dropna = False, ascending = True, sort = True)

Female     603
Male      1397
Name: gender, dtype: int64

In [7]:
race = emp['race']
race.value_counts(dropna = False, ascending = True, sort = False, normalize = True)

NaN                0.0175
Black              0.3500
White              0.3325
Asian              0.0535
Native American    0.0055
Other              0.0010
Hispanic           0.2400
Name: race, dtype: float64

In [9]:
race = emp['race']
race.value_counts(dropna = False, ascending = False, sort = False, normalize = True)

NaN                0.0175
Black              0.3500
White              0.3325
Asian              0.0535
Native American    0.0055
Other              0.0010
Hispanic           0.2400
Name: race, dtype: float64

In [8]:
race = emp['race']
race.value_counts(dropna = False, ascending = False, sort = True, normalize = True)

Black              0.3500
White              0.3325
Hispanic           0.2400
Asian              0.0535
NaN                0.0175
Native American    0.0055
Other              0.0010
Name: race, dtype: float64

In [4]:
race = emp['race']
race.value_counts(dropna = False, ascending = True, sort = True, normalize = True) 
# keep the missing values.

Other              0.0010
Native American    0.0055
NaN                0.0175
Asian              0.0535
Hispanic           0.2400
White              0.3325
Black              0.3500
Name: race, dtype: float64

In [12]:
salary = emp['salary']
salary.value_counts(bins = 5) # make them 5 equal length bins and get the count of each interval

(24709.959, 74968.0]    1621
(74968.0, 124976.0]      245
(124976.0, 174984.0]      14
(174984.0, 224992.0]       5
(224992.0, 275000.0]       1
Name: salary, dtype: int64

In [13]:
salary = emp['salary']
salary.value_counts(bins = 5, normalize = True)

(24709.959, 74968.0]    0.8105
(74968.0, 124976.0]     0.1225
(124976.0, 174984.0]    0.0070
(174984.0, 224992.0]    0.0025
(224992.0, 275000.0]    0.0005
Name: salary, dtype: float64

In [14]:
sal_bin = salary.value_counts(bins = 5, normalize = True)
sal_bin.sort_index() # A serise with intrval index

(24709.959, 74968.0]    0.8105
(74968.0, 124976.0]     0.1225
(124976.0, 174984.0]    0.0070
(174984.0, 224992.0]    0.0025
(224992.0, 275000.0]    0.0005
Name: salary, dtype: float64

In [ ]:
actor1.sort_index(ascending = False)

In [16]:
ord('[')

91

In [17]:
ord('z')

122

### value_counts

### str accessor

In [19]:
race = emp['race']
race.head()

0    Hispanic
1    Hispanic
2       White
3       White
4       White
Name: race, dtype: object

In [24]:
race.str.upper().head()
# .str. only work for string series
# upper: turn everything upper case

0    HISPANIC
1    HISPANIC
2       WHITE
3       WHITE
4       WHITE
Name: race, dtype: object

In [25]:
race.str.endswith('ite').head() # wheather ends with ite or not.

0    False
1    False
2     True
3     True
4     True
Name: race, dtype: object

In [27]:
race.str.len().head() # length of every string

0    8.0
1    8.0
2    5.0
3    5.0
4    5.0
Name: race, dtype: float64

In [29]:
race.str.capitalize().head()

0    Hispanic
1    Hispanic
2       White
3       White
4       White
Name: race, dtype: object

In [30]:
emp_title = emp['title']

In [35]:
emp_title.str.isalpha().head()

0    False
1    False
2    False
3    False
4     True
Name: title, dtype: bool

In [36]:
emp_title.str.islower().head()

0    False
1    False
2    False
3    False
4    False
Name: title, dtype: bool

In [37]:
emp_title.str.wrap()

TypeError: wrap() missing 1 required positional argument: 'width'

### Datetime columns

Notebook 4 DateTime Series