In [33]:
import pandas as pd
import numpy as np

### Problem 1
<span  style="color:green; font-size:16px">Create a 3 element pandas Series using the Series constructor with characters as the index and numbers as the values. Output the Series.</span>

In [1]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">Another way to create a series is to pass a dictionary to the pandas series constructor. The keys of the dictionary become the Series index and the dictionary values become the Series values. Create a dictionary with at least 3 elements and use it to create a series. Output the Series.</span>

In [2]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Use the **`read_csv`** function to read in the movie dataset and set the index to the title of the movie. Output the first 10 rows.</span>

In [3]:
# your code here

### Problem 4
<span  style="color:green; font-size:16px">Select the director column into a variable with the same name.</span>

In [4]:
# your code here

### Problem 5
<span  style="color:green; font-size:16px">Output to the screen the first 10 numbers in the **`director`** Series. Remember to only use **`.loc`** and **`.iloc`** when accessing Series elements.</span>

In [5]:
# your code here

### Problem 6
<span  style="color:green; font-size:16px">Output **`director`** elements at location 40, 50 and 99</span>

In [6]:
# your code here

### Problem 7
<span  style="color:green; font-size:16px">Output the last ten values of the **`director`** Series.</span>

In [7]:
# your code here

### Problem 8
<span  style="color:green; font-size:16px">Select the directors from the movies **The Fast and the Furious** and **Batman Begins**</span>

In [8]:
# your code here

### Problem 9
<span  style="color:green; font-size:16px">Think of a movie you have seen and try to select its director</span>

In [9]:
# your code here

### Problem 10
<span  style="color:green; font-size:16px">If two Series are added with no indices in common, what will be the outcome? Check your answer by coding this situation.</span>

In [10]:
# your code here

### Problem 11
<span  style="color:green; font-size:16px">What if the two series from problem 9 were subtracted, multiplied or divided together?</span>

In [11]:
# your code here

### Problem 12
<span  style="color:green; font-size:16px">Create two Series that have 3 elements each and when added together yield a Series that has four 4 total elements that are all not missing.</span>

In [12]:
# your code here

### Problem 13
<span  style="color:green; font-size:16px">Use the **`describe`** method on the movie dataset and include only the object columns. Transpose the output.</span>

In [13]:
# your code here

### Problem 14
<span  style="color:green; font-size:16px">Use the **`type`** function to output the object type for both the index and the columns.</span>

In [14]:
# your code here

### Problem 15
<span  style="color:green; font-size:16px">Select all three actor name columns.</span>

In [15]:
# your code here

### Problem 16
<span  style="color:green; font-size:16px">Select the content rating column as a Series and then as a DataFrame</span>

In [16]:
# your code here

### Problem 17
<span  style="color:green; font-size:16px">Select the 3rd and 5th rows from the movie dataset</span>

In [17]:
# your code here

### Problem 18
<span  style="color:green; font-size:16px">Select the 3rd and 5th columns from the movie dataset</span>

In [18]:
# your code here

### Problem 19
<span  style="color:green; font-size:16px">Select the first 5 rows and the last 5 columns</span>

In [19]:
# your code here

### Problem 20
<span  style="color:green; font-size:16px">Select the movie 'The Dark Knight Rises'</span>

In [20]:
# your code here

### Problem 21
<span  style="color:green; font-size:16px">The values of the index are stored in a numpy array. Numpy arrays use only integer location for selection. Output the movie title from 50 to 100 using the values of the index. </span>

In [21]:
# your code here

### Problem 22
<span  style="color:green; font-size:16px">Select the first 3 rows and 3 columns using **`.loc`**</span>

In [22]:
# your code here

### Problem 23
<span  style="color:green; font-size:16px">Select all Asian employees that make more than 100,000 dollars?</span>

In [39]:
employee = pd.read_csv('../../data/employee.csv')

In [23]:
# your code here

### Problem 24
<span  style="color:green; font-size:16px">What percentage of Asian employees make more than 100,000 dollars?</span>

In [24]:
# your code here

### Problem 25
<span  style="color:green; font-size:16px">What is the ratio of males to females? What is the ratio of males to females for those that make more than 100,000? How about for those that make less than 30,000?</span>

In [25]:
# your code here

### Problem 26
<span  style="color:green; font-size:16px">What is the distribution of race? What is the distribution of race for those that make over 100,000?</span>

In [26]:
# your code here

### Problem 27
<span  style="color:green; font-size:16px">Save the two distributions you found in problem 4 to variables. They should be Series. Divide the greater than 100k distribution by the other.</span>

In [27]:
# your code here

### Problem 28
<span  style="color:green; font-size:16px">Select all Females that are part of part of the Houston police department and all males that are in the Library department. Also Select only the DEPARTMENT and GENDER columns</span>

In [28]:
# your code here

### Problem 29
<span  style="color:green; font-size:16px">Select all the white, black and hispanic employees that are in the houston police department, Houston fire department and the Parks & Recreation department. Also select only the RACE and DEPARTMENT columns.</span>

In [29]:
# your code here

### Problem 30
<span  style="color:green; font-size:16px">What is the most most common department for black females? How about for Hispanic males?</span>

In [30]:
# your code here

### Problem 31
<span  style="color:green; font-size:16px">Who makes more money, 'Black or African American' Females or White Males?</span>

In [31]:
# your code here

In [2]:
college = pd.read_csv('../../data/college.csv')

### Problem 32
<span  style="color:green; font-size:16px">Read the college.csv file into the variable **`college2`**. Use the documentation of the **`read_csv`** function to assign the index column INSTNM on read, skip the first 20 rows but keep the header.</span>

In [34]:
college = pd.read_csv('../../data/college.csv')

In [35]:
# your code here

### Problem 33
<span  style="color:green; font-size:16px">Execute the **`describe`** method and examine the max and min values. Many columns range from 0 to 1. What kind of data do you think they represent?</span>

In [36]:
# Convert cell to markdown and answer here

### Problem 34
<span  style="color:green; font-size:16px">Sort first by **`STABBR`** ascending and by **`CITY`** descending. Rread the docs on **`sort_values`** to learn how to sort two columns at the same time.</span>

In [37]:
# your code here

### Problem 35
<span  style="color:green; font-size:16px">Rename column **`HBCU`** to **`HISTORICALLY_BLACK`**, **`STABBR`** to **`STATE_ABBR`** and index **`Alabama State University`** to **`ASU`** all in one line of code. </span>

In [38]:
# your code here

### Problem 36
<span  style="color:green; font-size:16px">How many colleges have more than 10,000 students and  are religiously affiliated?</span>

In [39]:
# your code here